In [23]:
import pandas as pd
import numpy as np

In [24]:
dataset=pd.read_csv("D:\Datasets\covid_19_india.csv")
dataset

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/2020,06:00 PM,Kerala,1,0,0,0,1
1,2,31/01/2020,06:00 PM,Kerala,1,0,0,0,1
2,3,01/02/2020,06:00 PM,Kerala,2,0,0,0,2
3,4,02/02/2020,06:00 PM,Kerala,3,0,0,0,3
4,5,03/02/2020,06:00 PM,Kerala,3,0,0,0,3
5,6,04/02/2020,06:00 PM,Kerala,3,0,0,0,3
6,7,05/02/2020,06:00 PM,Kerala,3,0,0,0,3
7,8,06/02/2020,06:00 PM,Kerala,3,0,0,0,3
8,9,07/02/2020,06:00 PM,Kerala,3,0,0,0,3
9,10,08/02/2020,06:00 PM,Kerala,3,0,0,0,3
10,11,09/02/2020,06:00 PM,Kerala,3,0,0,0,3
11,12,10/02/2020,06:00 PM,Kerala,3,0,0,0,3
12,13,11/02/2020,06:00 PM,Kerala,3,0,0,0,3
13,14,12/02/2020,06:00 PM,Kerala,3,0,0,0,3
14,15,13/02/2020,06:00 PM,Kerala,3,0,0,0,3
15,16,14/02/2020,06:00 PM,Kerala,3,0,0,0,3
16,17,15/02/2020,06:00 PM,Kerala,3,0,0,0,3
17,18,16/02/2020,06:00 PM,Kerala,3,0,0,0,3
18,19,17/02/2020,06:00 PM,Kerala,3,0,0,0,3
19,20,18/02/2020,06:00 PM,Kerala,3,0,0,0,3
20,21,19/02/2020,06:00 PM,Kerala,3,0,0,0,3
21,22,20/02/2020,06:00 PM,Kerala,3,0,0,0,3
22,23,21/02/2020,06:00 PM,Kerala,3,0,0,0,3
23,24,22/02/2020,06:00 PM,Kerala,3,0,0,0,3
24,25,23/02/2020,06:00 PM,Kerala,3,0,0,0,3
25,26,24/02/2020,06:00 PM,Kerala,3,0,0,0,3
26,27,25/02/2020,06:00 PM,Kerala,3,0,0,0,3
27,28,26/02/2020,06:00 PM,Kerala,3,0,0,0,3
28,29,27/02/2020,06:00 PM,Kerala,3,0,0,0,3
29,30,28/02/2020,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
18080,18081,11/08/2021,08:00 AM,Chhattisgarh,-,-,988189,13544,1003356
18081,18082,11/08/2021,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10646,4,10654
18082,18083,11/08/2021,08:00 AM,Delhi,-,-,1411280,25068,1436852
18083,18084,11/08/2021,08:00 AM,Goa,-,-,167978,3164,172085
18084,18085,11/08/2021,08:00 AM,Gujarat,-,-,814802,10077,825085
18085,18086,11/08/2021,08:00 AM,Haryana,-,-,759790,9652,770114
18086,18087,11/08/2021,08:00 AM,Himachal Pradesh,-,-,202761,3537,208616
18087,18088,11/08/2021,08:00 AM,Jammu and Kashmir,-,-,317081,4392,322771
18088,18089,11/08/2021,08:00 AM,Jharkhand,-,-,342102,5130,347440
18089,18090,11/08/2021,08:00 AM,Karnataka,-,-,2861499,36848,2921049
18090,18091,11/08/2021,08:00 AM,Kerala,-,-,3396184,18004,3586693
18091,18092,11/08/2021,08:00 AM,Ladakh,-,-,20130,207,20411
18092,18093,11/08/2021,08:00 AM,Lakshadweep,-,-,10165,51,10263
18093,18094,11/08/2021,08:00 AM,Madhya Pradesh,-,-,781330,10514,791980
18094,18095,11/08/2021,08:00 AM,Maharashtra,-,-,6159676,134201,6363442
18095,18096,11/08/2021,08:00 AM,Manipur,-,-,96776,1664,105424
18096,18097,11/08/2021,08:00 AM,Meghalaya,-,-,64157,1185,69769
18097,18098,11/08/2021,08:00 AM,Mizoram,-,-,33722,171,46320
18098,18099,11/08/2021,08:00 AM,Nagaland,-,-,26852,585,28811
18099,18100,11/08/2021,08:00 AM,Odisha,-,-,972710,6565,988997
18100,18101,11/08/2021,08:00 AM,Puducherry,-,-,119115,1800,121766
18101,18102,11/08/2021,08:00 AM,Punjab,-,-,582791,16322,599573
18102,18103,11/08/2021,08:00 AM,Rajasthan,-,-,944700,8954,953851
18103,18104,11/08/2021,08:00 AM,Sikkim,-,-,25095,356,28018
18104,18105,11/08/2021,08:00 AM,Tamil Nadu,-,-,2524400,34367,2579130
18105,18106,11/08/2021,08:00 AM,Telangana,-,-,638410,3831,650353
18106,18107,11/08/2021,08:00 AM,Tripura,-,-,77811,773,80660
18107,18108,11/08/2021,08:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,18109,11/08/2021,08:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,18110,11/08/2021,08:00 AM,West Bengal,-,-,1506532,18252,1534999

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
Sno                         18110 non-null int64
Date                        18110 non-null object
Time                        18110 non-null object
State/UnionTerritory        18110 non-null object
ConfirmedIndianNational     18110 non-null object
ConfirmedForeignNational    18110 non-null object
Cured                       18110 non-null int64
Deaths                      18110 non-null int64
Confirmed                   18110 non-null int64
dtypes: int64(4), object(5)
memory usage: 1.2+ MB

In [26]:
dataset.describe()

                Sno         Cured         Deaths     Confirmed
count  18110.000000  1.811000e+04   18110.000000  1.811000e+04
mean    9055.500000  2.786375e+05    4052.402264  3.010314e+05
std     5228.051023  6.148909e+05   10919.076411  6.561489e+05
min        1.000000  0.000000e+00       0.000000  0.000000e+00
25%     4528.250000  3.360250e+03      32.000000  4.376750e+03
50%     9055.500000  3.336400e+04     588.000000  3.977350e+04
75%    13582.750000  2.788698e+05    3643.750000  3.001498e+05
max    18110.000000  6.159676e+06  134201.000000  6.363442e+06

In [27]:
dataset.isnull().any()

Sno                         False
Date                        False
Time                        False
State/UnionTerritory        False
ConfirmedIndianNational     False
ConfirmedForeignNational    False
Cured                       False
Deaths                      False
Confirmed                   False
dtype: bool

In [28]:
dataset.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [29]:
dataset["Cured"].unique()

array([      0,       3,       1, ...,  334650, 1685492, 1506532], dtype=int64)

# Formate 1(date_time)

In [30]:
dataset["Date"]=pd.to_datetime(dataset["Date"])

In [31]:
dataset

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,06:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,06:00 PM,Kerala,1,0,0,0,1
2,3,2020-01-02,06:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,06:00 PM,Kerala,3,0,0,0,3
4,5,2020-03-02,06:00 PM,Kerala,3,0,0,0,3
5,6,2020-04-02,06:00 PM,Kerala,3,0,0,0,3
6,7,2020-05-02,06:00 PM,Kerala,3,0,0,0,3
7,8,2020-06-02,06:00 PM,Kerala,3,0,0,0,3
8,9,2020-07-02,06:00 PM,Kerala,3,0,0,0,3
9,10,2020-08-02,06:00 PM,Kerala,3,0,0,0,3
10,11,2020-09-02,06:00 PM,Kerala,3,0,0,0,3
11,12,2020-10-02,06:00 PM,Kerala,3,0,0,0,3
12,13,2020-11-02,06:00 PM,Kerala,3,0,0,0,3
13,14,2020-12-02,06:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,06:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,06:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,06:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,06:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,06:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,06:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,06:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,06:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,06:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,06:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,06:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,06:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,06:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,06:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,06:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
18080,18081,2021-11-08,08:00 AM,Chhattisgarh,-,-,988189,13544,1003356
18081,18082,2021-11-08,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10646,4,10654
18082,18083,2021-11-08,08:00 AM,Delhi,-,-,1411280,25068,1436852
18083,18084,2021-11-08,08:00 AM,Goa,-,-,167978,3164,172085
18084,18085,2021-11-08,08:00 AM,Gujarat,-,-,814802,10077,825085
18085,18086,2021-11-08,08:00 AM,Haryana,-,-,759790,9652,770114
18086,18087,2021-11-08,08:00 AM,Himachal Pradesh,-,-,202761,3537,208616
18087,18088,2021-11-08,08:00 AM,Jammu and Kashmir,-,-,317081,4392,322771
18088,18089,2021-11-08,08:00 AM,Jharkhand,-,-,342102,5130,347440
18089,18090,2021-11-08,08:00 AM,Karnataka,-,-,2861499,36848,2921049
18090,18091,2021-11-08,08:00 AM,Kerala,-,-,3396184,18004,3586693
18091,18092,2021-11-08,08:00 AM,Ladakh,-,-,20130,207,20411
18092,18093,2021-11-08,08:00 AM,Lakshadweep,-,-,10165,51,10263
18093,18094,2021-11-08,08:00 AM,Madhya Pradesh,-,-,781330,10514,791980
18094,18095,2021-11-08,08:00 AM,Maharashtra,-,-,6159676,134201,6363442
18095,18096,2021-11-08,08:00 AM,Manipur,-,-,96776,1664,105424
18096,18097,2021-11-08,08:00 AM,Meghalaya,-,-,64157,1185,69769
18097,18098,2021-11-08,08:00 AM,Mizoram,-,-,33722,171,46320
18098,18099,2021-11-08,08:00 AM,Nagaland,-,-,26852,585,28811
18099,18100,2021-11-08,08:00 AM,Odisha,-,-,972710,6565,988997
18100,18101,2021-11-08,08:00 AM,Puducherry,-,-,119115,1800,121766
18101,18102,2021-11-08,08:00 AM,Punjab,-,-,582791,16322,599573
18102,18103,2021-11-08,08:00 AM,Rajasthan,-,-,944700,8954,953851
18103,18104,2021-11-08,08:00 AM,Sikkim,-,-,25095,356,28018
18104,18105,2021-11-08,08:00 AM,Tamil Nadu,-,-,2524400,34367,2579130
18105,18106,2021-11-08,08:00 AM,Telangana,-,-,638410,3831,650353
18106,18107,2021-11-08,08:00 AM,Tripura,-,-,77811,773,80660
18107,18108,2021-11-08,08:00 AM,Uttarakhand,-,-,334650,7368,342462
18108,18109,2021-11-08,08:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18109,18110,2021-11-08,08:00 AM,West Bengal,-,-,1506532,18252,1534999

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 9 columns):
Sno                         18110 non-null int64
Date                        18110 non-null datetime64[ns]
Time                        18110 non-null object
State/UnionTerritory        18110 non-null object
ConfirmedIndianNational     18110 non-null object
ConfirmedForeignNational    18110 non-null object
Cured                       18110 non-null int64
Deaths                      18110 non-null int64
Confirmed                   18110 non-null int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 1.2+ MB

In [33]:
start="2020-02-01"
end="2021-03-01"

In [34]:
a=dataset.loc[(dataset["Date"]>="2020-02-01") & (dataset["Date"]<="2021-03-01")]

In [35]:
a

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
3,4,2020-02-02,06:00 PM,Kerala,3,0,0,0,3
4,5,2020-03-02,06:00 PM,Kerala,3,0,0,0,3
5,6,2020-04-02,06:00 PM,Kerala,3,0,0,0,3
6,7,2020-05-02,06:00 PM,Kerala,3,0,0,0,3
7,8,2020-06-02,06:00 PM,Kerala,3,0,0,0,3
8,9,2020-07-02,06:00 PM,Kerala,3,0,0,0,3
9,10,2020-08-02,06:00 PM,Kerala,3,0,0,0,3
10,11,2020-09-02,06:00 PM,Kerala,3,0,0,0,3
11,12,2020-10-02,06:00 PM,Kerala,3,0,0,0,3
12,13,2020-11-02,06:00 PM,Kerala,3,0,0,0,3
13,14,2020-12-02,06:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,06:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,06:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,06:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,06:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,06:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,06:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,06:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,06:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,06:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,06:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,06:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,06:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,06:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,06:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,06:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,06:00 PM,Kerala,3,0,0,0,3
30,31,2020-02-29,06:00 PM,Kerala,3,0,0,0,3
32,33,2020-02-03,06:00 PM,Telengana,1,0,0,0,1
33,34,2020-02-03,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
17756,17757,2021-02-08,08:00 AM,Chhattisgarh,-,-,986778,13525,1002222
17757,17758,2021-02-08,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10622,4,10650
17758,17759,2021-02-08,08:00 AM,Delhi,-,-,1410714,25054,1436350
17759,17760,2021-02-08,08:00 AM,Goa,-,-,167046,3148,171205
17760,17761,2021-02-08,08:00 AM,Gujarat,-,-,814570,10076,824900
17761,17762,2021-02-08,08:00 AM,Haryana,-,-,759589,9638,769942
17762,17763,2021-02-08,08:00 AM,Himachal Pradesh,-,-,201411,3521,206161
17763,17764,2021-02-08,08:00 AM,Jammu and Kashmir,-,-,316017,4379,321607
17764,17765,2021-02-08,08:00 AM,Jharkhand,-,-,341817,5129,347200
17765,17766,2021-02-08,08:00 AM,Karnataka,-,-,2846244,36587,2906999
17766,17767,2021-02-08,08:00 AM,Kerala,-,-,3226761,16837,3411489
17767,17768,2021-02-08,08:00 AM,Ladakh,-,-,20076,207,20340
17768,17769,2021-02-08,08:00 AM,Lakshadweep,-,-,10070,50,10195
17769,17770,2021-02-08,08:00 AM,Madhya Pradesh,-,-,781207,10513,791845
17770,17771,2021-02-08,08:00 AM,Maharashtra,-,-,6094896,132948,6310194
17771,17772,2021-02-08,08:00 AM,Manipur,-,-,87360,1566,99331
17772,17773,2021-02-08,08:00 AM,Meghalaya,-,-,58450,1096,65589
17773,17774,2021-02-08,08:00 AM,Mizoram,-,-,27024,150,39363
17774,17775,2021-02-08,08:00 AM,Nagaland,-,-,26031,570,27945
17775,17776,2021-02-08,08:00 AM,Odisha,-,-,958601,5966,978705
17776,17777,2021-02-08,08:00 AM,Puducherry,-,-,118228,1795,121005
17777,17778,2021-02-08,08:00 AM,Punjab,-,-,582332,16294,599130
17778,17779,2021-02-08,08:00 AM,Rajasthan,-,-,944484,8954,953688
17779,17780,2021-02-08,08:00 AM,Sikkim,-,-,22955,345,26754
17780,17781,2021-02-08,08:00 AM,Tamil Nadu,-,-,2506961,34102,2561587
17781,17782,2021-02-08,08:00 AM,Telangana,-,-,632728,3805,645406
17782,17783,2021-02-08,08:00 AM,Tripura,-,-,74875,755,78722
17783,17784,2021-02-08,08:00 AM,Uttarakhand,-,-,334190,7362,342161
17784,17785,2021-02-08,08:00 AM,Uttar Pradesh,-,-,1685049,22763,1708476
17785,17786,2021-02-08,08:00 AM,West Bengal,-,-,1499597,18149,1528720

In [36]:
a["Date"].unique()

array(['2020-02-02T00:00:00.000000000', '2020-03-02T00:00:00.000000000',
       '2020-04-02T00:00:00.000000000', '2020-05-02T00:00:00.000000000',
       '2020-06-02T00:00:00.000000000', '2020-07-02T00:00:00.000000000',
       '2020-08-02T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2020-10-02T00:00:00.000000000', '2020-11-02T00:00:00.000000000',
       '2020-12-02T00:00:00.000000000', '2020-02-13T00:00:00.000000000',
       '2020-02-14T00:00:00.000000000', '2020-02-15T00:00:00.000000000',
       '2020-02-16T00:00:00.000000000', '2020-02-17T00:00:00.000000000',
       '2020-02-18T00:00:00.000000000', '2020-02-19T00:00:00.000000000',
       '2020-02-20T00:00:00.000000000', '2020-02-21T00:00:00.000000000',
       '2020-02-22T00:00:00.000000000', '2020-02-23T00:00:00.000000000',
       '2020-02-24T00:00:00.000000000', '2020-02-25T00:00:00.000000000',
       '2020-02-26T00:00:00.000000000', '2020-02-27T00:00:00.000000000',
       '2020-02-28T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-04-03T00:00:00.000000000', '2020-05-03T00:00:00.000000000',
       '2020-06-03T00:00:00.000000000', '2020-07-03T00:00:00.000000000',
       '2020-08-03T00:00:00.000000000', '2020-09-03T00:00:00.000000000',
       '2020-10-03T00:00:00.000000000', '2020-11-03T00:00:00.000000000',
       '2020-12-03T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-02-04T00:00:00.000000000', '2020-03-04T00:00:00.000000000',
       '2020-04-04T00:00:00.000000000', '2020-05-04T00:00:00.000000000',
       '2020-06-04T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-08-04T00:00:00.000000000', '2020-09-04T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-11-04T00:00:00.000000000',
       '2020-12-04T00:00:00.000000000', '2020-04-13T00:00:00.000000000',
       '2020-04-14T00:00:00.000000000', '2020-04-15T00:00:00.000000000',
       '2020-04-16T00:00:00.000000000', '2020-04-17T00:00:00.000000000',
       '2020-04-18T00:00:00.000000000', '2020-04-19T00:00:00.000000000',
       '2020-04-20T00:00:00.000000000', '2020-04-21T00:00:00.000000000',
       '2020-04-22T00:00:00.000000000', '2020-04-23T00:00:00.000000000',
       '2020-04-24T00:00:00.000000000', '2020-04-25T00:00:00.000000000',
       '2020-04-26T00:00:00.000000000', '2020-04-27T00:00:00.000000000',
       '2020-04-28T00:00:00.000000000', '2020-04-29T00:00:00.000000000',
       '2020-04-30T00:00:00.000000000', '2020-02-05T00:00:00.000000000',
       '2020-03-05T00:00:00.000000000', '2020-04-05T00:00:00.000000000',
       '2020-05-05T00:00:00.000000000', '2020-06-05T00:00:00.000000000',
       '2020-07-05T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2020-09-05T00:00:00.000000000', '2020-10-05T00:00:00.000000000',
       '2020-11-05T00:00:00.000000000', '2020-12-05T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2020-05-15T00:00:00.000000000', '2020-05-16T00:00:00.000000000',
       '2020-05-17T00:00:00.000000000', '2020-05-18T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2020-05-20T00:00:00.000000000',
       '2020-05-21T00:00:00.000000000', '2020-05-22T00:00:00.000000000',
       '2020-05-23T00:00:00.000000000', '2020-05-24T00:00:00.000000000',
       '2020-05-25T00:00:00.000000000', '2020-05-26T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000', '2020-05-28T00:00:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-04-06T00:00:00.000000000',
       '2020-05-06T00:00:00.000000000', '2020-06-06T00:00:00.000000000',
       '2020-07-06T00:00:00.000000000', '2020-08-06T00:00:00.000000000',
       '2020-09-06T00:00:00.000000000', '2020-10-06T00:00:00.000000000',
       '2020-11-06T00:00:00.000000000', '2020-12-06T00:00:00.000000000',
       '2020-06-13T00:00:00.000000000', '2020-06-14T00:00:00.000000000',
       '2020-06-15T00:00:00.000000000', '2020-06-16T00:00:00.000000000',
       '2020-06-17T00:00:00.000000000', '2020-06-18T00:00:00.000000000',
       '2020-06-19T00:00:00.000000000', '2020-06-20T00:00:00.000000000',
       '2020-06-21T00:00:00.000000000', '2020-06-22T00:00:00.000000000',
       '2020-06-23T00:00:00.000000000', '2020-06-24T00:00:00.000000000',
       '2020-06-25T00:00:00.000000000', '2020-06-26T00:00:00.000000000',
       '2020-06-27T00:00:00.000000000', '2020-06-28T00:00:00.000000000',
       '2020-06-29T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-04-07T00:00:00.000000000', '2020-05-07T00:00:00.000000000',
       '2020-06-07T00:00:00.000000000', '2020-07-07T00:00:00.000000000',
       '2020-08-07T00:00:00.000000000', '2020-09-07T00:00:00.000000000',
       '2020-10-07T00:00:00.000000000', '2020-11-07T00:00:00.000000000',
       '2020-12-07T00:00:00.000000000', '2020-07-13T00:00:00.000000000',
       '2020-07-14T00:00:00.000000000', '2020-07-15T00:00:00.000000000',
       '2020-07-16T00:00:00.000000000', '2020-07-17T00:00:00.000000000',
       '2020-07-18T00:00:00.000000000', '2020-07-19T00:00:00.000000000',
       '2020-07-20T00:00:00.000000000', '2020-07-21T00:00:00.000000000',
       '2020-07-22T00:00:00.000000000', '2020-07-23T00:00:00.000000000',
       '2020-07-24T00:00:00.000000000', '2020-07-25T00:00:00.000000000',
       '2020-07-26T00:00:00.000000000', '2020-07-27T00:00:00.000000000',
       '2020-07-28T00:00:00.000000000', '2020-07-29T00:00:00.000000000',
       '2020-07-30T00:00:00.000000000', '2020-07-31T00:00:00.000000000',
       '2020-02-08T00:00:00.000000000', '2020-03-08T00:00:00.000000000',
       '2020-04-08T00:00:00.000000000', '2020-05-08T00:00:00.000000000',
       '2020-06-08T00:00:00.000000000', '2020-07-08T00:00:00.000000000',
       '2020-08-08T00:00:00.000000000', '2020-09-08T00:00:00.000000000',
       '2020-10-08T00:00:00.000000000', '2020-11-08T00:00:00.000000000',
       '2020-12-08T00:00:00.000000000', '2020-08-13T00:00:00.000000000',
       '2020-08-14T00:00:00.000000000', '2020-08-15T00:00:00.000000000',
       '2020-08-16T00:00:00.000000000', '2020-08-17T00:00:00.000000000',
       '2020-08-18T00:00:00.000000000', '2020-08-19T00:00:00.000000000',
       '2020-08-20T00:00:00.000000000', '2020-08-21T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-24T00:00:00.000000000', '2020-08-25T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2020-08-27T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2020-08-29T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-04-09T00:00:00.000000000', '2020-05-09T00:00:00.000000000',
       '2020-06-09T00:00:00.000000000', '2020-07-09T00:00:00.000000000',
       '2020-08-09T00:00:00.000000000', '2020-09-09T00:00:00.000000000',
       '2020-10-09T00:00:00.000000000', '2020-11-09T00:00:00.000000000',
       '2020-12-09T00:00:00.000000000', '2020-09-13T00:00:00.000000000',
       '2020-09-14T00:00:00.000000000', '2020-09-15T00:00:00.000000000',
       '2020-09-16T00:00:00.000000000', '2020-09-17T00:00:00.000000000',
       '2020-09-18T00:00:00.000000000', '2020-09-19T00:00:00.000000000',
       '2020-09-20T00:00:00.000000000', '2020-09-21T00:00:00.000000000',
       '2020-09-22T00:00:00.000000000', '2020-09-23T00:00:00.000000000',
       '2020-09-24T00:00:00.000000000', '2020-09-25T00:00:00.000000000',
       '2020-09-26T00:00:00.000000000', '2020-09-27T00:00:00.000000000',
       '2020-09-28T00:00:00.000000000', '2020-09-29T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-02-10T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-04-10T00:00:00.000000000',
       '2020-05-10T00:00:00.000000000', '2020-06-10T00:00:00.000000000',
       '2020-07-10T00:00:00.000000000', '2020-08-10T00:00:00.000000000',
       '2020-09-10T00:00:00.000000000', '2020-10-10T00:00:00.000000000',
       '2020-11-10T00:00:00.000000000', '2020-12-10T00:00:00.000000000',
       '2020-10-13T00:00:00.000000000', '2020-10-14T00:00:00.000000000',
       '2020-10-15T00:00:00.000000000', '2020-10-16T00:00:00.000000000',
       '2020-10-17T00:00:00.000000000', '2020-10-18T00:00:00.000000000',
       '2020-10-19T00:00:00.000000000', '2020-10-20T00:00:00.000000000',
       '2020-10-21T00:00:00.000000000', '2020-10-22T00:00:00.000000000',
       '2020-10-23T00:00:00.000000000', '2020-10-24T00:00:00.000000000',
       '2020-10-25T00:00:00.000000000', '2020-10-26T00:00:00.000000000',
       '2020-10-27T00:00:00.000000000', '2020-10-28T00:00:00.000000000',
       '2020-10-29T00:00:00.000000000', '2020-10-30T00:00:00.000000000',
       '2020-10-31T00:00:00.000000000', '2020-02-11T00:00:00.000000000',
       '2020-03-11T00:00:00.000000000', '2020-04-11T00:00:00.000000000',
       '2020-05-11T00:00:00.000000000', '2020-06-11T00:00:00.000000000',
       '2020-07-11T00:00:00.000000000', '2020-08-11T00:00:00.000000000',
       '2020-09-11T00:00:00.000000000', '2020-10-11T00:00:00.000000000',
       '2020-11-11T00:00:00.000000000', '2020-12-11T00:00:00.000000000',
       '2020-11-13T00:00:00.000000000', '2020-11-14T00:00:00.000000000',
       '2020-11-15T00:00:00.000000000', '2020-11-16T00:00:00.000000000',
       '2020-11-17T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-11-19T00:00:00.000000000', '2020-11-20T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2020-11-23T00:00:00.000000000', '2020-11-24T00:00:00.000000000',
       '2020-11-25T00:00:00.000000000', '2020-11-26T00:00:00.000000000',
       '2020-11-27T00:00:00.000000000', '2020-11-28T00:00:00.000000000',
       '2020-11-29T00:00:00.000000000', '2020-11-30T00:00:00.000000000',
       '2020-02-12T00:00:00.000000000', '2020-03-12T00:00:00.000000000',
       '2020-04-12T00:00:00.000000000', '2020-05-12T00:00:00.000000000',
       '2020-06-12T00:00:00.000000000', '2020-07-12T00:00:00.000000000',
       '2020-08-12T00:00:00.000000000', '2020-09-12T00:00:00.000000000',
       '2020-10-12T00:00:00.000000000', '2020-11-12T00:00:00.000000000',
       '2020-12-12T00:00:00.000000000', '2020-12-13T00:00:00.000000000',
       '2020-12-14T00:00:00.000000000', '2020-12-15T00:00:00.000000000',
       '2020-12-16T00:00:00.000000000', '2020-12-17T00:00:00.000000000',
       '2020-12-18T00:00:00.000000000', '2020-12-19T00:00:00.000000000',
       '2020-12-20T00:00:00.000000000', '2020-12-21T00:00:00.000000000',
       '2020-12-22T00:00:00.000000000', '2020-12-23T00:00:00.000000000',
       '2020-12-24T00:00:00.000000000', '2020-12-25T00:00:00.000000000',
       '2020-12-26T00:00:00.000000000', '2020-12-27T00:00:00.000000000',
       '2020-12-28T00:00:00.000000000', '2020-12-29T00:00:00.000000000',
       '2020-12-30T00:00:00.000000000', '2020-12-31T00:00:00.000000000',
       '2021-01-01T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-03-01T00:00:00.000000000', '2021-01-13T00:00:00.000000000',
       '2021-01-14T00:00:00.000000000', '2021-01-15T00:00:00.000000000',
       '2021-01-16T00:00:00.000000000', '2021-01-17T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2021-01-19T00:00:00.000000000',
       '2021-01-20T00:00:00.000000000', '2021-01-21T00:00:00.000000000',
       '2021-01-22T00:00:00.000000000', '2021-01-23T00:00:00.000000000',
       '2021-01-24T00:00:00.000000000', '2021-01-25T00:00:00.000000000',
       '2021-01-26T00:00:00.000000000', '2021-01-27T00:00:00.000000000',
       '2021-01-28T00:00:00.000000000', '2021-01-29T00:00:00.000000000',
       '2021-01-30T00:00:00.000000000', '2021-01-31T00:00:00.000000000',
       '2021-01-02T00:00:00.000000000', '2021-02-02T00:00:00.000000000',
       '2021-02-13T00:00:00.000000000', '2021-02-14T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-16T00:00:00.000000000',
       '2021-02-17T00:00:00.000000000', '2021-02-18T00:00:00.000000000',
       '2021-02-19T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2021-02-23T00:00:00.000000000', '2021-02-24T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000', '2021-02-26T00:00:00.000000000',
       '2021-02-27T00:00:00.000000000', '2021-02-28T00:00:00.000000000',
       '2021-01-03T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-01-04T00:00:00.000000000', '2021-02-04T00:00:00.000000000',
       '2021-01-05T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-01-06T00:00:00.000000000', '2021-02-06T00:00:00.000000000',
       '2021-01-07T00:00:00.000000000', '2021-02-07T00:00:00.000000000',
       '2021-01-08T00:00:00.000000000', '2021-02-08T00:00:00.000000000'], dtype='datetime64[ns]')

In [37]:
a["Date"].value_counts()

2020-11-06    37
2021-02-06    36
2021-01-28    36
2020-07-15    36
2020-12-20    36
2021-02-15    36
2021-01-02    36
2021-02-28    36
2021-01-15    36
2020-10-06    36
2020-06-27    36
2020-12-15    36
2020-12-07    36
2020-05-27    36
2020-12-28    36
2021-02-23    36
2020-06-22    36
2021-01-23    36
2021-02-05    36
2020-07-18    36
2020-12-23    36
2021-02-18    36
2021-02-02    36
2020-05-06    36
2020-06-17    36
2020-08-07    36
2020-03-07    36
2021-01-17    36
2020-06-29    36
2021-01-30    36
              ..
2020-03-03     4
2020-02-03     3
2020-02-16     1
2020-02-25     1
2020-02-27     1
2020-02-14     1
2020-06-02     1
2020-04-02     1
2020-02-22     1
2020-02-18     1
2020-02-20     1
2020-03-02     1
2020-02-19     1
2020-10-02     1
2020-02-24     1
2020-05-02     1
2020-02-02     1
2020-09-02     1
2020-02-13     1
2020-02-26     1
2020-08-02     1
2020-07-02     1
2020-02-29     1
2020-02-17     1
2020-11-02     1
2020-02-28     1
2020-02-21     1
2020-02-15     1
2020-12-02     1
2020-02-23     1
Name: Date, Length: 376, dtype: int64

In [38]:
a

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
3,4,2020-02-02,06:00 PM,Kerala,3,0,0,0,3
4,5,2020-03-02,06:00 PM,Kerala,3,0,0,0,3
5,6,2020-04-02,06:00 PM,Kerala,3,0,0,0,3
6,7,2020-05-02,06:00 PM,Kerala,3,0,0,0,3
7,8,2020-06-02,06:00 PM,Kerala,3,0,0,0,3
8,9,2020-07-02,06:00 PM,Kerala,3,0,0,0,3
9,10,2020-08-02,06:00 PM,Kerala,3,0,0,0,3
10,11,2020-09-02,06:00 PM,Kerala,3,0,0,0,3
11,12,2020-10-02,06:00 PM,Kerala,3,0,0,0,3
12,13,2020-11-02,06:00 PM,Kerala,3,0,0,0,3
13,14,2020-12-02,06:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,06:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,06:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,06:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,06:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,06:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,06:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,06:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,06:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,06:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,06:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,06:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,06:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,06:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,06:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,06:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,06:00 PM,Kerala,3,0,0,0,3
30,31,2020-02-29,06:00 PM,Kerala,3,0,0,0,3
32,33,2020-02-03,06:00 PM,Telengana,1,0,0,0,1
33,34,2020-02-03,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
17756,17757,2021-02-08,08:00 AM,Chhattisgarh,-,-,986778,13525,1002222
17757,17758,2021-02-08,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10622,4,10650
17758,17759,2021-02-08,08:00 AM,Delhi,-,-,1410714,25054,1436350
17759,17760,2021-02-08,08:00 AM,Goa,-,-,167046,3148,171205
17760,17761,2021-02-08,08:00 AM,Gujarat,-,-,814570,10076,824900
17761,17762,2021-02-08,08:00 AM,Haryana,-,-,759589,9638,769942
17762,17763,2021-02-08,08:00 AM,Himachal Pradesh,-,-,201411,3521,206161
17763,17764,2021-02-08,08:00 AM,Jammu and Kashmir,-,-,316017,4379,321607
17764,17765,2021-02-08,08:00 AM,Jharkhand,-,-,341817,5129,347200
17765,17766,2021-02-08,08:00 AM,Karnataka,-,-,2846244,36587,2906999
17766,17767,2021-02-08,08:00 AM,Kerala,-,-,3226761,16837,3411489
17767,17768,2021-02-08,08:00 AM,Ladakh,-,-,20076,207,20340
17768,17769,2021-02-08,08:00 AM,Lakshadweep,-,-,10070,50,10195
17769,17770,2021-02-08,08:00 AM,Madhya Pradesh,-,-,781207,10513,791845
17770,17771,2021-02-08,08:00 AM,Maharashtra,-,-,6094896,132948,6310194
17771,17772,2021-02-08,08:00 AM,Manipur,-,-,87360,1566,99331
17772,17773,2021-02-08,08:00 AM,Meghalaya,-,-,58450,1096,65589
17773,17774,2021-02-08,08:00 AM,Mizoram,-,-,27024,150,39363
17774,17775,2021-02-08,08:00 AM,Nagaland,-,-,26031,570,27945
17775,17776,2021-02-08,08:00 AM,Odisha,-,-,958601,5966,978705
17776,17777,2021-02-08,08:00 AM,Puducherry,-,-,118228,1795,121005
17777,17778,2021-02-08,08:00 AM,Punjab,-,-,582332,16294,599130
17778,17779,2021-02-08,08:00 AM,Rajasthan,-,-,944484,8954,953688
17779,17780,2021-02-08,08:00 AM,Sikkim,-,-,22955,345,26754
17780,17781,2021-02-08,08:00 AM,Tamil Nadu,-,-,2506961,34102,2561587
17781,17782,2021-02-08,08:00 AM,Telangana,-,-,632728,3805,645406
17782,17783,2021-02-08,08:00 AM,Tripura,-,-,74875,755,78722
17783,17784,2021-02-08,08:00 AM,Uttarakhand,-,-,334190,7362,342161
17784,17785,2021-02-08,08:00 AM,Uttar Pradesh,-,-,1685049,22763,1708476
17785,17786,2021-02-08,08:00 AM,West Bengal,-,-,1499597,18149,1528720

In [40]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11642 entries, 3 to 17785
Data columns (total 9 columns):
Sno                         11642 non-null int64
Date                        11642 non-null datetime64[ns]
Time                        11642 non-null object
State/UnionTerritory        11642 non-null object
ConfirmedIndianNational     11642 non-null object
ConfirmedForeignNational    11642 non-null object
Cured                       11642 non-null int64
Deaths                      11642 non-null int64
Confirmed                   11642 non-null int64
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 909.5+ KB

# Formate 2(between)

In [41]:
dataset=dataset.loc[dataset["Date"].between("2020-02-01","2021-03-01")]
dataset

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
3,4,2020-02-02,06:00 PM,Kerala,3,0,0,0,3
4,5,2020-03-02,06:00 PM,Kerala,3,0,0,0,3
5,6,2020-04-02,06:00 PM,Kerala,3,0,0,0,3
6,7,2020-05-02,06:00 PM,Kerala,3,0,0,0,3
7,8,2020-06-02,06:00 PM,Kerala,3,0,0,0,3
8,9,2020-07-02,06:00 PM,Kerala,3,0,0,0,3
9,10,2020-08-02,06:00 PM,Kerala,3,0,0,0,3
10,11,2020-09-02,06:00 PM,Kerala,3,0,0,0,3
11,12,2020-10-02,06:00 PM,Kerala,3,0,0,0,3
12,13,2020-11-02,06:00 PM,Kerala,3,0,0,0,3
13,14,2020-12-02,06:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,06:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,06:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,06:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,06:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,06:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,06:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,06:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,06:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,06:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,06:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,06:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,06:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,06:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,06:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,06:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,06:00 PM,Kerala,3,0,0,0,3
30,31,2020-02-29,06:00 PM,Kerala,3,0,0,0,3
32,33,2020-02-03,06:00 PM,Telengana,1,0,0,0,1
33,34,2020-02-03,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
17756,17757,2021-02-08,08:00 AM,Chhattisgarh,-,-,986778,13525,1002222
17757,17758,2021-02-08,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10622,4,10650
17758,17759,2021-02-08,08:00 AM,Delhi,-,-,1410714,25054,1436350
17759,17760,2021-02-08,08:00 AM,Goa,-,-,167046,3148,171205
17760,17761,2021-02-08,08:00 AM,Gujarat,-,-,814570,10076,824900
17761,17762,2021-02-08,08:00 AM,Haryana,-,-,759589,9638,769942
17762,17763,2021-02-08,08:00 AM,Himachal Pradesh,-,-,201411,3521,206161
17763,17764,2021-02-08,08:00 AM,Jammu and Kashmir,-,-,316017,4379,321607
17764,17765,2021-02-08,08:00 AM,Jharkhand,-,-,341817,5129,347200
17765,17766,2021-02-08,08:00 AM,Karnataka,-,-,2846244,36587,2906999
17766,17767,2021-02-08,08:00 AM,Kerala,-,-,3226761,16837,3411489
17767,17768,2021-02-08,08:00 AM,Ladakh,-,-,20076,207,20340
17768,17769,2021-02-08,08:00 AM,Lakshadweep,-,-,10070,50,10195
17769,17770,2021-02-08,08:00 AM,Madhya Pradesh,-,-,781207,10513,791845
17770,17771,2021-02-08,08:00 AM,Maharashtra,-,-,6094896,132948,6310194
17771,17772,2021-02-08,08:00 AM,Manipur,-,-,87360,1566,99331
17772,17773,2021-02-08,08:00 AM,Meghalaya,-,-,58450,1096,65589
17773,17774,2021-02-08,08:00 AM,Mizoram,-,-,27024,150,39363
17774,17775,2021-02-08,08:00 AM,Nagaland,-,-,26031,570,27945
17775,17776,2021-02-08,08:00 AM,Odisha,-,-,958601,5966,978705
17776,17777,2021-02-08,08:00 AM,Puducherry,-,-,118228,1795,121005
17777,17778,2021-02-08,08:00 AM,Punjab,-,-,582332,16294,599130
17778,17779,2021-02-08,08:00 AM,Rajasthan,-,-,944484,8954,953688
17779,17780,2021-02-08,08:00 AM,Sikkim,-,-,22955,345,26754
17780,17781,2021-02-08,08:00 AM,Tamil Nadu,-,-,2506961,34102,2561587
17781,17782,2021-02-08,08:00 AM,Telangana,-,-,632728,3805,645406
17782,17783,2021-02-08,08:00 AM,Tripura,-,-,74875,755,78722
17783,17784,2021-02-08,08:00 AM,Uttarakhand,-,-,334190,7362,342161
17784,17785,2021-02-08,08:00 AM,Uttar Pradesh,-,-,1685049,22763,1708476
17785,17786,2021-02-08,08:00 AM,West Bengal,-,-,1499597,18149,1528720

# Formate 3(isin)

In [45]:
b=dataset[dataset["Date"].isin(pd.date_range(start='2020-02-01', end='2021-03-01'))]
b

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
3,4,2020-02-02,06:00 PM,Kerala,3,0,0,0,3
4,5,2020-03-02,06:00 PM,Kerala,3,0,0,0,3
5,6,2020-04-02,06:00 PM,Kerala,3,0,0,0,3
6,7,2020-05-02,06:00 PM,Kerala,3,0,0,0,3
7,8,2020-06-02,06:00 PM,Kerala,3,0,0,0,3
8,9,2020-07-02,06:00 PM,Kerala,3,0,0,0,3
9,10,2020-08-02,06:00 PM,Kerala,3,0,0,0,3
10,11,2020-09-02,06:00 PM,Kerala,3,0,0,0,3
11,12,2020-10-02,06:00 PM,Kerala,3,0,0,0,3
12,13,2020-11-02,06:00 PM,Kerala,3,0,0,0,3
13,14,2020-12-02,06:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,06:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,06:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,06:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,06:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,06:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,06:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,06:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,06:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,06:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,06:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,06:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,06:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,06:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,06:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,06:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,06:00 PM,Kerala,3,0,0,0,3
30,31,2020-02-29,06:00 PM,Kerala,3,0,0,0,3
32,33,2020-02-03,06:00 PM,Telengana,1,0,0,0,1
33,34,2020-02-03,06:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
17756,17757,2021-02-08,08:00 AM,Chhattisgarh,-,-,986778,13525,1002222
17757,17758,2021-02-08,08:00 AM,Dadra and Nagar Haveli and Daman and Diu,-,-,10622,4,10650
17758,17759,2021-02-08,08:00 AM,Delhi,-,-,1410714,25054,1436350
17759,17760,2021-02-08,08:00 AM,Goa,-,-,167046,3148,171205
17760,17761,2021-02-08,08:00 AM,Gujarat,-,-,814570,10076,824900
17761,17762,2021-02-08,08:00 AM,Haryana,-,-,759589,9638,769942
17762,17763,2021-02-08,08:00 AM,Himachal Pradesh,-,-,201411,3521,206161
17763,17764,2021-02-08,08:00 AM,Jammu and Kashmir,-,-,316017,4379,321607
17764,17765,2021-02-08,08:00 AM,Jharkhand,-,-,341817,5129,347200
17765,17766,2021-02-08,08:00 AM,Karnataka,-,-,2846244,36587,2906999
17766,17767,2021-02-08,08:00 AM,Kerala,-,-,3226761,16837,3411489
17767,17768,2021-02-08,08:00 AM,Ladakh,-,-,20076,207,20340
17768,17769,2021-02-08,08:00 AM,Lakshadweep,-,-,10070,50,10195
17769,17770,2021-02-08,08:00 AM,Madhya Pradesh,-,-,781207,10513,791845
17770,17771,2021-02-08,08:00 AM,Maharashtra,-,-,6094896,132948,6310194
17771,17772,2021-02-08,08:00 AM,Manipur,-,-,87360,1566,99331
17772,17773,2021-02-08,08:00 AM,Meghalaya,-,-,58450,1096,65589
17773,17774,2021-02-08,08:00 AM,Mizoram,-,-,27024,150,39363
17774,17775,2021-02-08,08:00 AM,Nagaland,-,-,26031,570,27945
17775,17776,2021-02-08,08:00 AM,Odisha,-,-,958601,5966,978705
17776,17777,2021-02-08,08:00 AM,Puducherry,-,-,118228,1795,121005
17777,17778,2021-02-08,08:00 AM,Punjab,-,-,582332,16294,599130
17778,17779,2021-02-08,08:00 AM,Rajasthan,-,-,944484,8954,953688
17779,17780,2021-02-08,08:00 AM,Sikkim,-,-,22955,345,26754
17780,17781,2021-02-08,08:00 AM,Tamil Nadu,-,-,2506961,34102,2561587
17781,17782,2021-02-08,08:00 AM,Telangana,-,-,632728,3805,645406
17782,17783,2021-02-08,08:00 AM,Tripura,-,-,74875,755,78722
17783,17784,2021-02-08,08:00 AM,Uttarakhand,-,-,334190,7362,342161
17784,17785,2021-02-08,08:00 AM,Uttar Pradesh,-,-,1685049,22763,1708476
17785,17786,2021-02-08,08:00 AM,West Bengal,-,-,1499597,18149,1528720

# pivot_Table

In [46]:
dataset=pd.read_csv("D:\Datasets\garments_worker_productivity.csv")

In [47]:
dataset

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
5,1/1/2015,Quarter1,sweing,Thursday,7,0.80,25.90,984.0,6720,38,0.0,0,0,56.0,0.800125
6,1/1/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
7,1/1/2015,Quarter1,sweing,Thursday,3,0.75,28.08,795.0,6900,45,0.0,0,0,57.5,0.753683
8,1/1/2015,Quarter1,sweing,Thursday,2,0.75,19.87,733.0,6000,34,0.0,0,0,55.0,0.753098
9,1/1/2015,Quarter1,sweing,Thursday,1,0.75,28.08,681.0,6900,45,0.0,0,0,57.5,0.750428
10,1/1/2015,Quarter1,sweing,Thursday,9,0.70,28.08,872.0,6900,44,0.0,0,0,57.5,0.721127
11,1/1/2015,Quarter1,sweing,Thursday,10,0.75,19.31,578.0,6480,45,0.0,0,0,54.0,0.712205
12,1/1/2015,Quarter1,sweing,Thursday,5,0.80,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
13,1/1/2015,Quarter1,finishing,Thursday,10,0.65,3.94,NaN,960,0,0.0,0,0,8.0,0.705917
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
16,1/1/2015,Quarter1,finishing,Thursday,7,0.80,2.90,NaN,960,0,0.0,0,0,8.0,0.540729
17,1/1/2015,Quarter1,sweing,Thursday,4,0.65,23.69,861.0,7200,0,0.0,0,0,60.0,0.521180
18,1/1/2015,Quarter1,finishing,Thursday,11,0.70,4.15,NaN,1440,0,0.0,0,0,12.0,0.436326
19,1/3/2015,Quarter1,finishing,Saturday,4,0.80,4.15,NaN,6600,0,0.0,0,0,20.0,0.988025
20,1/3/2015,Quarter1,finishing,Saturday,11,0.75,2.90,NaN,5640,0,0.0,0,0,17.0,0.987880
21,1/3/2015,Quarter1,finishing,Saturday,9,0.80,4.15,NaN,960,0,0.0,0,0,8.0,0.956271
22,1/3/2015,Quarter1,finishing,Saturday,3,0.75,3.94,NaN,1560,0,0.0,0,0,8.0,0.945278
23,1/3/2015,Quarter1,finishing,Saturday,1,0.80,3.94,NaN,960,0,0.0,0,0,8.0,0.902917
24,1/3/2015,Quarter1,sweing,Saturday,1,0.80,28.08,772.0,6300,50,0.0,0,0,56.5,0.800725
25,1/3/2015,Quarter1,sweing,Saturday,3,0.80,28.08,913.0,6540,50,0.0,0,0,54.5,0.800323
26,1/3/2015,Quarter1,sweing,Saturday,8,0.80,26.16,1261.0,7080,50,0.0,0,0,59.0,0.800319
27,1/3/2015,Quarter1,sweing,Saturday,12,0.80,26.16,844.0,7080,63,0.0,0,0,59.0,0.800319
28,1/3/2015,Quarter1,sweing,Saturday,11,0.80,11.61,1005.0,7080,50,0.0,0,0,29.5,0.800237
29,1/3/2015,Quarter1,sweing,Saturday,5,0.80,11.61,659.0,7080,50,0.0,0,0,31.5,0.800149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,3/10/2015,Quarter2,sweing,Tuesday,2,0.70,16.10,957.0,5400,40,0.0,0,1,45.0,0.700052
1168,3/10/2015,Quarter2,sweing,Tuesday,5,0.65,26.82,1001.0,7080,26,0.0,0,1,59.0,0.650044
1169,3/10/2015,Quarter2,sweing,Tuesday,7,0.60,30.48,1017.0,6840,25,0.0,0,1,57.0,0.630403
1170,3/10/2015,Quarter2,finishing,Tuesday,8,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.560625
1171,3/10/2015,Quarter2,finishing,Tuesday,7,0.50,3.90,NaN,960,0,0.0,0,0,8.0,0.560625
1172,3/10/2015,Quarter2,finishing,Tuesday,10,0.70,2.90,NaN,960,0,0.0,0,0,8.0,0.398750
1173,3/11/2015,Quarter2,finishing,Wednesday,12,0.80,4.60,NaN,2160,0,0.0,0,0,9.0,0.922840
1174,3/11/2015,Quarter2,finishing,Wednesday,11,0.80,2.90,NaN,2400,0,0.0,0,0,10.0,0.874028
1175,3/11/2015,Quarter2,finishing,Wednesday,2,0.75,3.90,NaN,1920,0,0.0,0,0,8.0,0.819271
1176,3/11/2015,Quarter2,finishing,Wednesday,4,0.75,3.94,NaN,1920,0,0.0,0,0,8.0,0.813309
1177,3/11/2015,Quarter2,finishing,Wednesday,1,0.75,3.94,NaN,1920,0,0.0,0,0,8.0,0.812625
1178,3/11/2015,Quarter2,sweing,Wednesday,12,0.80,15.26,470.0,4080,63,0.0,0,0,34.0,0.800402
1179,3/11/2015,Quarter2,sweing,Wednesday,3,0.80,30.10,735.0,6960,63,0.0,0,1,58.0,0.800072
1180,3/11/2015,Quarter2,sweing,Wednesday,11,0.80,11.41,560.0,3420,50,0.0,0,0,58.0,0.800035
1181,3/11/2015,Quarter2,finishing,Wednesday,3,0.80,4.60,NaN,1920,0,0.0,0,0,8.0,0.786632
1182,3/11/2015,Quarter2,finishing,Wednesday,5,0.70,3.94,NaN,1440,0,0.0,0,0,12.0,0.758850
1183,3/11/2015,Quarter2,sweing,Wednesday,10,0.75,21.82,1674.0,6000,34,0.0,0,0,50.0,0.750608
1184,3/11/2015,Quarter2,sweing,Wednesday,9,0.75,18.79,290.0,5040,45,0.0,0,0,52.0,0.750347
1185,3/11/2015,Quarter2,sweing,Wednesday,2,0.75,16.10,971.0,5400,45,0.0,0,1,45.0,0.750141
1186,3/11/2015,Quarter2,sweing,Wednesday,1,0.75,26.82,1322.0,7080,45,0.0,0,0,59.0,0.750051
1187,3/11/2015,Quarter2,sweing,Wednesday,4,0.75,26.82,1054.0,7080,45,0.0,0,0,59.0,0.750051
1188,3/11/2015,Quarter2,sweing,Wednesday,5,0.70,26.82,992.0,6960,30,0.0,0,1,58.0,0.700557
1189,3/11/2015,Quarter2,sweing,Wednesday,8,0.70,30.48,914.0,6840,30,0.0,0,1,57.0,0.700505
1190,3/11/2015,Quarter2,sweing,Wednesday,6,0.70,23.41,1128.0,4560,40,0.0,0,1,38.0,0.700246
1191,3/11/2015,Quarter2,sweing,Wednesday,7,0.65,30.48,935.0,6840,26,0.0,0,1,57.0,0.650596
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [67]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
date                     1197 non-null object
quarter                  1197 non-null object
department               1197 non-null object
day                      1197 non-null object
team                     1197 non-null int64
targeted_productivity    1197 non-null float64
smv                      1197 non-null float64
wip                      691 non-null float64
over_time                1197 non-null int64
incentive                1197 non-null int64
idle_time                1197 non-null float64
idle_men                 1197 non-null int64
no_of_style_change       1197 non-null int64
no_of_workers            1197 non-null float64
actual_productivity      1197 non-null float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB

In [68]:
dataset.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,691.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1837.455001,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,774.500000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1039.000000,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1252.500000,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [69]:
dataset.isnull().any()

date                     False
quarter                  False
department               False
day                      False
team                     False
targeted_productivity    False
smv                      False
wip                       True
over_time                False
incentive                False
idle_time                False
idle_men                 False
no_of_style_change       False
no_of_workers            False
actual_productivity      False
dtype: bool

In [70]:
dataset.isnull().sum()

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_style_change         0
no_of_workers              0
actual_productivity        0
dtype: int64

In [51]:
dataset["department"].unique()

array(['sweing', 'finishing ', 'finishing'], dtype=object)

In [52]:
x=pd.pivot_table(dataset,index="department")

In [53]:
x

,actual_productivity,idle_men,idle_time,incentive,no_of_style_change,no_of_workers,over_time,smv,targeted_productivity,team,wip
department,,,,,,,,,,,
finishing,0.722876,0.000000,0.000000,60.240964,0.000000,10.397590,1792.530120,3.979719,0.731325,6.337349,NaN
finishing,0.782089,0.000000,0.000000,0.000000,0.000000,10.112840,2037.898833,3.797237,0.743191,6.260700,NaN
sweing,0.722013,0.639653,1.264834,44.483357,0.260492,52.445731,6508.205499,23.245412,0.723980,6.520984,1190.465991

In [59]:
dataset["day"].unique()

array(['Thursday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday'], dtype=object)

In [56]:
x=pd.pivot_table(dataset,index=["department","day"])
x

                      actual_productivity  idle_men  idle_time   incentive  \
department day
finishing  Monday                0.712026  0.000000   0.000000  375.000000
           Saturday              0.690843  0.000000   0.000000    0.000000
           Sunday                0.725270  0.000000   0.000000    0.000000
           Thursday              0.728957  0.000000   0.000000    0.000000
           Tuesday               0.718827  0.000000   0.000000    0.000000
           Wednesday             0.747741  0.000000   0.000000    0.000000
finishing  Monday                0.787850  0.000000   0.000000    0.000000
           Saturday              0.826654  0.000000   0.000000    0.000000
           Sunday                0.771552  0.000000   0.000000    0.000000
           Thursday              0.750122  0.000000   0.000000    0.000000
           Tuesday               0.811395  0.000000   0.000000    0.000000
           Wednesday             0.731104  0.000000   0.000000    0.000000
sweing     Monday                0.724169  0.086207   0.017241   42.698276
           Saturday              0.734080  0.788462   5.480769   47.932692
           Sunday                0.713549  0.775862   0.150862   42.293103
           Thursday              0.710772  0.635593   0.105932   44.118644
           Tuesday               0.728115  0.805085   0.165254   45.550847
           Wednesday             0.722712  0.756303   2.121849   44.647059

                      no_of_style_change  no_of_workers    over_time  \
department day
finishing  Monday               0.000000      10.525000  1456.500000
           Saturday             0.000000      10.843750  2212.500000
           Sunday               0.000000      10.069767  1784.651163
           Thursday             0.000000      10.846154  2141.538462
           Tuesday              0.000000      10.255814  1907.441860
           Wednesday            0.000000      10.076923  1442.307692
finishing  Monday               0.000000      10.209302  1745.581395
           Saturday             0.000000       9.333333  1691.764706
           Sunday               0.000000      10.318182  1756.363636
           Thursday             0.000000      11.000000  3540.000000
           Tuesday              0.000000      10.050000  1642.500000
           Wednesday            0.000000       9.891892  1911.891892
sweing     Monday               0.250000      52.456897  6326.379310
           Saturday             0.250000      52.317308  6935.384615
           Sunday               0.206897      52.349138  6694.396552
           Thursday             0.288136      52.139831  6806.186441
           Tuesday              0.271186      52.444915  6310.169492
           Wednesday            0.294118      52.945378  6031.512605

                            smv  targeted_productivity      team          wip
department day
finishing  Monday      3.984000               0.737500  6.550000          NaN
           Saturday    3.894062               0.732813  6.250000          NaN
           Sunday      3.889535               0.730233  6.279070          NaN
           Thursday    4.081538               0.734615  6.307692          NaN
           Tuesday     3.958837               0.718605  6.372093          NaN
           Wednesday   4.044615               0.734615  6.269231          NaN
finishing  Monday      3.777209               0.741860  6.488372          NaN
           Saturday    3.834706               0.751961  6.352941          NaN
           Sunday      3.769318               0.750000  6.340909          NaN
           Thursday    3.754762               0.733333  5.976190          NaN
           Tuesday     3.846250               0.746250  6.200000          NaN
           Wednesday   3.797297               0.732432  6.162162          NaN
sweing     Monday     23.078276               0.721983  6.620690  2156.310345
           Saturday   23.236058               0.725000  6.423077  1003.019231
           Sunday     23.657328               0.735345  6.525862  1016.198276
           Thursday   22.835085               0.711610  6.474576   974.025424
           Tuesday    23.300169               0.724576  6.542373  1012.483051
           Wednesday  23.367563               0.725630  6.529412   973.773109

In [60]:
dataset["quarter"].unique()

array(['Quarter1', 'Quarter2', 'Quarter3', 'Quarter4', 'Quarter5'], dtype=object)

In [57]:
x=pd.pivot_table(dataset,index=["department","day","quarter"])
x

                               actual_productivity  idle_men  idle_time  \
department day       quarter
finishing  Monday    Quarter1             0.698903  0.000000   0.000000
                     Quarter2             0.747692  0.000000   0.000000
                     Quarter3             0.728522  0.000000   0.000000
                     Quarter4             0.641020  0.000000   0.000000
           Saturday  Quarter1             0.750265  0.000000   0.000000
                     Quarter2             0.696613  0.000000   0.000000
                     Quarter4             0.580717  0.000000   0.000000
           Sunday    Quarter1             0.614857  0.000000   0.000000
                     Quarter2             0.773119  0.000000   0.000000
                     Quarter3             0.759699  0.000000   0.000000
                     Quarter4             0.697114  0.000000   0.000000
           Thursday  Quarter1             0.824389  0.000000   0.000000
                     Quarter2             0.742039  0.000000   0.000000
                     Quarter3             0.705347  0.000000   0.000000
                     Quarter4             0.580717  0.000000   0.000000
           Tuesday   Quarter1             0.604653  0.000000   0.000000
                     Quarter2             0.776152  0.000000   0.000000
                     Quarter3             0.762958  0.000000   0.000000
                     Quarter4             0.684089  0.000000   0.000000
           Wednesday Quarter1             0.793188  0.000000   0.000000
                     Quarter2             0.766180  0.000000   0.000000
                     Quarter3             0.697872  0.000000   0.000000
                     Quarter4             0.682937  0.000000   0.000000
finishing  Monday    Quarter1             0.759211  0.000000   0.000000
                     Quarter2             0.766220  0.000000   0.000000
                     Quarter3             0.760840  0.000000   0.000000
                     Quarter4             0.902083  0.000000   0.000000
           Saturday  Quarter1             0.835364  0.000000   0.000000
                     Quarter2             0.780348  0.000000   0.000000
                     Quarter3             0.752312  0.000000   0.000000
...                                            ...       ...        ...
           Wednesday Quarter1             0.752573  0.000000   0.000000
                     Quarter2             0.736257  0.000000   0.000000
                     Quarter3             0.720974  0.000000   0.000000
                     Quarter4             0.707019  0.000000   0.000000
sweing     Monday    Quarter1             0.751942  0.000000   0.000000
                     Quarter2             0.729257  0.000000   0.000000
                     Quarter3             0.682904  0.434783   0.086957
                     Quarter4             0.714800  0.000000   0.000000
           Saturday  Quarter1             0.749320  2.411765  16.764706
                     Quarter2             0.737624  0.000000   0.000000
                     Quarter3             0.714543  0.000000   0.000000
                     Quarter4             0.717029  0.000000   0.000000
                     Quarter5             0.738043  0.000000   0.000000
           Sunday    Quarter1             0.750720  1.000000   0.214286
                     Quarter2             0.731470  0.000000   0.000000
                     Quarter3             0.663649  0.434783   0.086957
                     Quarter4             0.679615  1.956522   0.347826
           Thursday  Quarter1             0.726531  1.142857   0.114286
                     Quarter2             0.693845  0.000000   0.000000
                     Quarter3             0.695832  1.458333   0.354167
                     Quarter4             0.687441  0.000000   0.000000
                     Quarter5             0.781058  0.000000   0.000000
           Tuesday   Quarter1             0.759895  0.833333   0.180556
                     Quarter2             0.737489  0.000000   0.000000
                     Quarter3             0.681435  2.826087   0.565217
                     Quarter4             0.710377  0.000000   0.000000
           Wednesday Quarter1             0.741466  0.694444   6.666667
                     Quarter2             0.726552  0.000000   0.000000
                     Quarter3             0.686744  2.708333   0.520833
                     Quarter4             0.724948  0.000000   0.000000

                                incentive  no_of_style_change  no_of_workers  \
department day       quarter
finishing  Monday    Quarter1    0.000000            0.000000      10.333333
                     Quarter2  937.500000            0.000000      10.375000
                     Quarter3    0.000000            0.000000      10.714286
                     Quarter4    0.000000            0.000000      10.875000
           Saturday  Quarter1    0.000000            0.000000      11.062500
                     Quarter2    0.000000            0.000000      11.428571
                     Quarter4    0.000000            0.000000      10.000000
           Sunday    Quarter1    0.000000            0.000000      10.125000
                     Quarter2    0.000000            0.000000       9.777778
                     Quarter3    0.000000            0.000000       9.125000
                     Quarter4    0.000000            0.000000      11.444444
           Thursday  Quarter1    0.000000            0.000000      11.266667
                     Quarter2    0.000000            0.000000      10.857143
                     Quarter3    0.000000            0.000000      11.000000
                     Quarter4    0.000000            0.000000      10.000000
           Tuesday   Quarter1    0.000000            0.000000       9.700000
                     Quarter2    0.000000            0.000000      10.111111
                     Quarter3    0.000000            0.000000      10.125000
                     Quarter4    0.000000            0.000000      11.571429
           Wednesday Quarter1    0.000000            0.000000      10.933333
                     Quarter2    0.000000            0.000000       9.684211
                     Quarter3    0.000000            0.000000       9.111111
                     Quarter4    0.000000            0.000000      10.444444
finishing  Monday    Quarter1    0.000000            0.000000       9.764706
                     Quarter2    0.000000            0.000000       9.090909
                     Quarter3    0.000000            0.000000      11.142857
                     Quarter4    0.000000            0.000000      11.875000
           Saturday  Quarter1    0.000000            0.000000      10.333333
                     Quarter2    0.000000            0.000000       9.600000
                     Quarter3    0.000000            0.000000       8.777778
...                                   ...                 ...            ...
           Wednesday Quarter1    0.000000            0.000000       9.818182
                     Quarter2    0.000000            0.000000       8.500000
                     Quarter3    0.000000            0.000000      11.142857
                     Quarter4    0.000000            0.000000      10.555556
sweing     Monday    Quarter1   47.914286            0.000000      52.628571
                     Quarter2   42.500000            0.250000      52.486111
                     Quarter3   36.782609            0.391304      52.347826
                     Quarter4   40.909091            0.500000      52.250000
           Saturday  Quarter1   46.176471            0.147059      51.397059
                     Quarter2   44.454545            0.272727      52.954545
                     Quarter3   45.750000            0.000000      52.541667
                     Quarter4   47.750000            0.625000      52.645833
                     Quarter5   61.833333            0.000000      52.875000
           Sunday    Quarter1   47.371429            0.000000      52.428571
                     Quarter2   44.457143            0.171429      51.571429
                     Quarter3   33.130435            0.304348      52.891304
                     Quarter4   40.434783            0.478261      52.869565
           Thursday  Quarter1   44.028571            0.085714      50.742857
                     Quarter2   43.666667            0.250000      53.041667
                     Quarter3   36.291667            0.416667      52.520833
                     Quarter4   42.833333            0.625000      52.770833
                     Quarter5   65.272727            0.000000      52.409091
           Tuesday   Quarter1   48.166667            0.027778      52.430556
                     Quarter2   47.638889            0.250000      52.694444
                     Quarter3   38.434783            0.434783      52.413043
                     Quarter4   45.304348            0.521739      52.108696
           Wednesday Quarter1   47.277778            0.027778      52.513889
                     Quarter2   43.800000            0.314286      52.657143
                     Quarter3   40.375000            0.416667      54.895833
                     Quarter4   46.208333            0.541667      52.062500

                                 over_time        smv  targeted_productivity  \
department day       quarter
finishing  Monday    Quarter1  3406.666667   3.997778               0.733333
                     Quarter2   510.000000   3.779375               0.725000
                     Quarter3  1285.714286   3.931429               0.728571
                     Quarter4  1305.000000   4.423750               0.775000
           Saturday  Quarter1  1762.500000   3.897500               0.721875
                     Quarter2  1371.428571   3.901429               0.764286
                     Quarter4  3666.666667   3.882222               0.727778
           Sunday    Quarter1  3352.500000   3.922500               0.712500
                     Quarter2  1173.333333   3.751111               0.727778
                     Quarter3  1095.000000   3.776250               0.750000
                     Quarter4  2226.666667   4.237778               0.733333
           Thursday  Quarter1  1352.000000   3.884667               0.750000
                     Quarter2  1302.857143   4.050000               0.707143
                     Quarter3  2640.000000   4.702500               0.737500
                     Quarter4  3666.666667   3.882222               0.727778
           Tuesday   Quarter1  4074.000000   4.058000               0.710000
                     Quarter2  1213.333333   3.806667               0.711111
                     Quarter3  1215.000000   4.553750               0.743750
                     Quarter4  1388.571429   3.528571               0.721429
           Wednesday Quarter1  1712.000000   4.032667               0.733333
                     Quarter2  1484.210526   3.824737               0.728947
                     Quarter3  1093.333333   4.617778               0.738889
                     Quarter4  1253.333333   3.955556               0.744444
finishing  Monday    Quarter1  1524.705882   3.688235               0.752941
                     Quarter2  1636.363636   3.746364               0.745455
                     Quarter3  2005.714286   3.754286               0.735714
                     Quarter4  2137.500000   4.028750               0.718750
           Saturday  Quarter1  2173.333333   3.802222               0.777778
                     Quarter2  2100.000000   3.795000               0.765000
                     Quarter3  1580.000000   3.640000               0.783333
...                                    ...        ...                    ...
           Wednesday Quarter1  1827.272727   3.707273               0.781818
                     Quarter2  1584.000000   3.831000               0.740000
                     Quarter3  3342.857143   3.902857               0.728571
                     Quarter4  1266.666667   3.787778               0.666667
sweing     Monday    Quarter1  6053.142857  22.973429               0.748571
                     Quarter2  6122.500000  23.424722               0.713889
                     Quarter3  6393.913043  23.121304               0.697826
                     Quarter4  7024.090909  22.633182               0.718182
           Saturday  Quarter1  6232.941176  22.464118               0.747059
                     Quarter2  7360.909091  22.980000               0.734091
                     Quarter3  9157.500000  24.686667               0.720833
                     Quarter4  6784.583333  23.196250               0.691667
                     Quarter5  6225.000000  24.521667               0.716667
           Sunday    Quarter1  5836.285714  23.644000               0.744286
                     Quarter2  6781.714286  23.051714               0.742857
                     Quarter3  7312.173913  24.950435               0.721739
                     Quarter4  7249.565217  23.306087               0.723913
           Thursday  Quarter1  5202.857143  22.200857               0.716286
                     Quarter2  8628.750000  24.117500               0.725000
                     Quarter3  6781.250000  22.504167               0.712500
                     Quarter4  7658.750000  23.248750               0.691667
                     Quarter5  6125.454545  21.874545               0.709091
           Tuesday   Quarter1  6950.833333  22.913889               0.748611
                     Quarter2  6221.666667  23.678333               0.727778
                     Quarter3  6593.478261  22.286087               0.689130
                     Quarter4  5162.608696  24.326957               0.717391
           Wednesday Quarter1  6975.833333  22.964167               0.745833
                     Quarter2  5424.857143  23.483714               0.721429
                     Quarter3  6058.750000  23.548333               0.714583
                     Quarter4  5472.500000  23.622500               0.712500

                                   team          wip
department day       quarter
finishing  Monday    Quarter1  6.222222          NaN
                     Quarter2  6.437500          NaN
                     Quarter3  6.571429          NaN
                     Quarter4  7.125000          NaN
           Saturday  Quarter1  6.062500          NaN
                     Quarter2  6.714286          NaN
                     Quarter4  6.222222          NaN
           Sunday    Quarter1  5.500000          NaN
                     Quarter2  6.444444          NaN
                     Quarter3  6.125000          NaN
                     Quarter4  6.777778          NaN
           Thursday  Quarter1  6.600000          NaN
                     Quarter2  5.857143          NaN
                     Quarter3  6.250000          NaN
                     Quarter4  6.222222          NaN
           Tuesday   Quarter1  5.800000          NaN
                     Quarter2  6.333333          NaN
                     Quarter3  6.625000          NaN
                     Quarter4  7.000000          NaN
           Wednesday Quarter1  5.600000          NaN
                     Quarter2  6.263158          NaN
                     Quarter3  6.777778          NaN
                     Quarter4  6.888889          NaN
finishing  Monday    Quarter1  6.470588          NaN
                     Quarter2  6.000000          NaN
                     Quarter3  8.428571          NaN
                     Quarter4  5.500000          NaN
           Saturday  Quarter1  6.111111          NaN
                     Quarter2  6.000000          NaN
                     Quarter3  6.555556          NaN
...                                 ...          ...
           Wednesday Quarter1  6.090909          NaN
                     Quarter2  6.000000          NaN
                     Quarter3  5.714286          NaN
                     Quarter4  6.777778          NaN
sweing     Monday    Quarter1  6.628571  4710.285714
                     Quarter2  6.500000   973.138889
                     Quarter3  6.695652  1073.565217
                     Quarter4  6.727273  1161.227273
           Saturday  Quarter1  6.441176   928.941176
                     Quarter2  6.227273   942.090909
                     Quarter3  6.500000  1013.750000
                     Quarter4  6.500000  1092.250000
                     Quarter5  6.500000  1135.416667
           Sunday    Quarter1  6.542857  1031.828571
                     Quarter2  6.485714   958.657143
                     Quarter3  6.347826   987.739130
                     Quarter4  6.739130  1108.434783
           Thursday  Quarter1  6.457143   942.000000
                     Quarter2  6.500000   810.833333
                     Quarter3  6.500000   934.500000
                     Quarter4  6.500000  1103.916667
                     Quarter5  6.363636  1234.818182
           Tuesday   Quarter1  6.500000   948.750000
                     Quarter2  6.500000   987.833333
                     Quarter3  6.739130  1081.391304
                     Quarter4  6.478261  1081.913043
           Wednesday Quarter1  6.500000   936.027778
                     Quarter2  6.600000   916.857143
                     Quarter3  6.500000  1081.666667
                     Quarter4  6.500000  1005.500000

[75 rows x 11 columns]

In [62]:
dataset=pd.read_csv("D:\Datasets\garments_worker_productivity.csv")
dataset

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
5,1/1/2015,Quarter1,sweing,Thursday,7,0.80,25.90,984.0,6720,38,0.0,0,0,56.0,0.800125
6,1/1/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
7,1/1/2015,Quarter1,sweing,Thursday,3,0.75,28.08,795.0,6900,45,0.0,0,0,57.5,0.753683
8,1/1/2015,Quarter1,sweing,Thursday,2,0.75,19.87,733.0,6000,34,0.0,0,0,55.0,0.753098
9,1/1/2015,Quarter1,sweing,Thursday,1,0.75,28.08,681.0,6900,45,0.0,0,0,57.5,0.750428
10,1/1/2015,Quarter1,sweing,Thursday,9,0.70,28.08,872.0,6900,44,0.0,0,0,57.5,0.721127
11,1/1/2015,Quarter1,sweing,Thursday,10,0.75,19.31,578.0,6480,45,0.0,0,0,54.0,0.712205
12,1/1/2015,Quarter1,sweing,Thursday,5,0.80,11.41,668.0,3660,50,0.0,0,0,30.5,0.707046
13,1/1/2015,Quarter1,finishing,Thursday,10,0.65,3.94,NaN,960,0,0.0,0,0,8.0,0.705917
14,1/1/2015,Quarter1,finishing,Thursday,8,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.676667
15,1/1/2015,Quarter1,finishing,Thursday,4,0.75,3.94,NaN,2160,0,0.0,0,0,18.0,0.593056
16,1/1/2015,Quarter1,finishing,Thursday,7,0.80,2.90,NaN,960,0,0.0,0,0,8.0,0.540729
17,1/1/2015,Quarter1,sweing,Thursday,4,0.65,23.69,861.0,7200,0,0.0,0,0,60.0,0.521180
18,1/1/2015,Quarter1,finishing,Thursday,11,0.70,4.15,NaN,1440,0,0.0,0,0,12.0,0.436326
19,1/3/2015,Quarter1,finishing,Saturday,4,0.80,4.15,NaN,6600,0,0.0,0,0,20.0,0.988025
20,1/3/2015,Quarter1,finishing,Saturday,11,0.75,2.90,NaN,5640,0,0.0,0,0,17.0,0.987880
21,1/3/2015,Quarter1,finishing,Saturday,9,0.80,4.15,NaN,960,0,0.0,0,0,8.0,0.956271
22,1/3/2015,Quarter1,finishing,Saturday,3,0.75,3.94,NaN,1560,0,0.0,0,0,8.0,0.945278
23,1/3/2015,Quarter1,finishing,Saturday,1,0.80,3.94,NaN,960,0,0.0,0,0,8.0,0.902917
24,1/3/2015,Quarter1,sweing,Saturday,1,0.80,28.08,772.0,6300,50,0.0,0,0,56.5,0.800725
25,1/3/2015,Quarter1,sweing,Saturday,3,0.80,28.08,913.0,6540,50,0.0,0,0,54.5,0.800323
26,1/3/2015,Quarter1,sweing,Saturday,8,0.80,26.16,1261.0,7080,50,0.0,0,0,59.0,0.800319
27,1/3/2015,Quarter1,sweing,Saturday,12,0.80,26.16,844.0,7080,63,0.0,0,0,59.0,0.800319
28,1/3/2015,Quarter1,sweing,Saturday,11,0.80,11.61,1005.0,7080,50,0.0,0,0,29.5,0.800237
29,1/3/2015,Quarter1,sweing,Saturday,5,0.80,11.61,659.0,7080,50,0.0,0,0,31.5,0.800149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,3/10/2015,Quarter2,sweing,Tuesday,2,0.70,16.10,957.0,5400,40,0.0,0,1,45.0,0.700052
1168,3/10/2015,Quarter2,sweing,Tuesday,5,0.65,26.82,1001.0,7080,26,0.0,0,1,59.0,0.650044
1169,3/10/2015,Quarter2,sweing,Tuesday,7,0.60,30.48,1017.0,6840,25,0.0,0,1,57.0,0.630403
1170,3/10/2015,Quarter2,finishing,Tuesday,8,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.560625
1171,3/10/2015,Quarter2,finishing,Tuesday,7,0.50,3.90,NaN,960,0,0.0,0,0,8.0,0.560625
1172,3/10/2015,Quarter2,finishing,Tuesday,10,0.70,2.90,NaN,960,0,0.0,0,0,8.0,0.398750
1173,3/11/2015,Quarter2,finishing,Wednesday,12,0.80,4.60,NaN,2160,0,0.0,0,0,9.0,0.922840
1174,3/11/2015,Quarter2,finishing,Wednesday,11,0.80,2.90,NaN,2400,0,0.0,0,0,10.0,0.874028
1175,3/11/2015,Quarter2,finishing,Wednesday,2,0.75,3.90,NaN,1920,0,0.0,0,0,8.0,0.819271
1176,3/11/2015,Quarter2,finishing,Wednesday,4,0.75,3.94,NaN,1920,0,0.0,0,0,8.0,0.813309
1177,3/11/2015,Quarter2,finishing,Wednesday,1,0.75,3.94,NaN,1920,0,0.0,0,0,8.0,0.812625
1178,3/11/2015,Quarter2,sweing,Wednesday,12,0.80,15.26,470.0,4080,63,0.0,0,0,34.0,0.800402
1179,3/11/2015,Quarter2,sweing,Wednesday,3,0.80,30.10,735.0,6960,63,0.0,0,1,58.0,0.800072
1180,3/11/2015,Quarter2,sweing,Wednesday,11,0.80,11.41,560.0,3420,50,0.0,0,0,58.0,0.800035
1181,3/11/2015,Quarter2,finishing,Wednesday,3,0.80,4.60,NaN,1920,0,0.0,0,0,8.0,0.786632
1182,3/11/2015,Quarter2,finishing,Wednesday,5,0.70,3.94,NaN,1440,0,0.0,0,0,12.0,0.758850
1183,3/11/2015,Quarter2,sweing,Wednesday,10,0.75,21.82,1674.0,6000,34,0.0,0,0,50.0,0.750608
1184,3/11/2015,Quarter2,sweing,Wednesday,9,0.75,18.79,290.0,5040,45,0.0,0,0,52.0,0.750347
1185,3/11/2015,Quarter2,sweing,Wednesday,2,0.75,16.10,971.0,5400,45,0.0,0,1,45.0,0.750141
1186,3/11/2015,Quarter2,sweing,Wednesday,1,0.75,26.82,1322.0,7080,45,0.0,0,0,59.0,0.750051
1187,3/11/2015,Quarter2,sweing,Wednesday,4,0.75,26.82,1054.0,7080,45,0.0,0,0,59.0,0.750051
1188,3/11/2015,Quarter2,sweing,Wednesday,5,0.70,26.82,992.0,6960,30,0.0,0,1,58.0,0.700557
1189,3/11/2015,Quarter2,sweing,Wednesday,8,0.70,30.48,914.0,6840,30,0.0,0,1,57.0,0.700505
1190,3/11/2015,Quarter2,sweing,Wednesday,6,0.70,23.41,1128.0,4560,40,0.0,0,1,38.0,0.700246
1191,3/11/2015,Quarter2,sweing,Wednesday,7,0.65,30.48,935.0,6840,26,0.0,0,1,57.0,0.650596
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [64]:
y= pd.pivot_table(dataset,values="targeted_productivity",columns=["day"],index=["department"])
y

day           Monday  Saturday    Sunday  Thursday   Tuesday  Wednesday
department
finishing   0.737500  0.732813  0.730233  0.734615  0.718605   0.734615
finishing   0.741860  0.751961  0.750000  0.733333  0.746250   0.732432
sweing      0.721983  0.725000  0.735345  0.711610  0.724576   0.725630

In [66]:
q=pd.pivot_table(dataset,columns=["date"],index=["day"],aggfunc=[sum,np.mean,np.std])
q

                          sum                                              \
          actual_productivity
date                 1/1/2015  1/10/2015  1/11/2015  1/12/2015  1/13/2015
day
Monday                    NaN        NaN        NaN  17.369459        NaN
Saturday                  NaN  16.968712        NaN        NaN        NaN
Sunday                    NaN        NaN  17.228024        NaN        NaN
Thursday            13.655501        NaN        NaN        NaN        NaN
Tuesday                   NaN        NaN        NaN        NaN  16.622455
Wednesday                 NaN        NaN        NaN        NaN        NaN

                                                                    ...      \
                                                                    ...
date       1/14/2015  1/15/2015  1/17/2015  1/18/2015  1/19/2015    ...
day                                                                 ...
Monday           NaN        NaN        NaN        NaN  13.554106    ...
Saturday         NaN        NaN  15.345321        NaN        NaN    ...
Sunday           NaN        NaN        NaN  12.863552        NaN    ...
Thursday         NaN  14.403442        NaN        NaN        NaN    ...
Tuesday          NaN        NaN        NaN        NaN        NaN    ...
Wednesday  14.825717        NaN        NaN        NaN        NaN    ...

                  std                                                 \
                  wip
date         3/1/2015   3/10/2015   3/11/2015    3/2/2015   3/3/2015
day
Monday            NaN         NaN         NaN  358.328189        NaN
Saturday          NaN         NaN         NaN         NaN        NaN
Sunday     410.917562         NaN         NaN         NaN        NaN
Thursday          NaN         NaN         NaN         NaN        NaN
Tuesday           NaN  324.241621         NaN         NaN  470.72214
Wednesday         NaN         NaN  376.902316         NaN        NaN



date         3/4/2015    3/5/2015    3/7/2015   3/8/2015   3/9/2015
day
Monday            NaN         NaN         NaN        NaN  301.95187
Saturday          NaN         NaN  332.891791        NaN        NaN
Sunday            NaN         NaN         NaN  309.85636        NaN
Thursday          NaN  412.869229         NaN        NaN        NaN
Tuesday           NaN         NaN         NaN        NaN        NaN
Wednesday  542.451646         NaN         NaN        NaN        NaN

[6 rows x 1947 columns]