# Function

In [1]:
def person():
    print("RacksonsIT")
    
person()

RacksonsIT

In [ ]:
def person():
    print("RacksonsIT")

In [2]:
person()

RacksonsIT

In [9]:
def annu(x,y):
    print(x)
    print(y)
    
annu(2,3)

2
3

In [10]:
def annu(x,y=5):
    print(x)
    print(y)
    
annu(2)

2
5

In [11]:
def annu(x=9,y=5):
    print(x)
    print(y)
    
annu()

9
5

In [12]:
def annu():
    print("RacksonsIT")
    
annu()

RacksonsIT

In [13]:
def annu():
    print("RacksonsIT")
    a=10
    b=20
    c=a+b
    print(c)
    
annu()

RacksonsIT
30

In [15]:
def annu(x=5,y=4):
    z=x+y
    print(z)
    
annu()

9

In [14]:
def annu(a,b):
    print("RacksonsIT")
    c=a+b
    print(c)
annu(10,20)

RacksonsIT
30

In [7]:
def oddeven(a):
    if a%2==0:
        print("Even")
    else:
        print("Odd")
        
oddeven(2)

Even

In [8]:
# input from user

def oddeven(a):
    if a%2==0:
        print("Even")
    else:
        print("Odd")
        
a=int(input("Enter the a value:"))
oddeven(a)

Enter the a value:5
Odd

In [1]:
def fruit():
    print("Apple")
    
fruit()

Apple

In [2]:
def fruit():
    for f in range(3):
        print("Apple")
    
fruit()

Apple
Apple
Apple

In [3]:
def school():
    a=10
    b=20
    c=a+b
    print(c)
    
school()

30

In [4]:
def school(a,b):
    print("a+b=",a+b)
    
school(10,10)

a+b= 20

In [6]:
def school(a,b):
    print("a+b=",a+b)

a=int(input("Enter the a value:"))
b=int(input("Enter the b value:"))
school(a,b)

Enter the a value:12
Enter the b value:19
a+b= 31

In [7]:
def college():
    for x in range(2):
        print("ML")
        
college()

ML
ML

In [9]:
def mouse():
    a=int(input("Enter the a value:"))
    b=int(input("Enter the b value:"))
    c=a+b
    print(c)
    
mouse()

Enter the a value:12
Enter the b value:21
33

In [10]:
def mouse():
    for v in range(3):
        a=int(input("Enter the a value:"))
        b=int(input("Enter the b value:"))
        c=a+b
        print(c)
    
mouse()

Enter the a value:21
Enter the b value:32
53
Enter the a value:11
Enter the b value:22
33
Enter the a value:09
Enter the b value:90
99

In [11]:
def gang():
    c=a+b
    print(c)
    
a="Annu"
b="10112022"

gang()

Annu10112022

In [13]:
def gang():
    c=a+b
    print(c)
    
a=input("Enter the name:")
b=input("Enter the ..:")
gang()

Enter the name:Annu
Enter the ..:10/11/1999
Annu10/11/1999

In [17]:
def rcub():
    m=school(45,54)
    print(m)
    
rcub()

99

In [26]:
def npn():
    v=pune(7,8)
    print(v+9)
    
npn()

24

In [5]:
def top():
    d=lap("Annu",5)
    print("I am from lap function:",d)
    
top()

Enter the marks:87
Enter the marks:78
Enter the marks:85
Enter the marks:89
Enter the marks:44
I am from lap function: [87, 78, 85, 89, 44]

In [3]:
def stud():
    c1=[]
    for x in range(2):
        c=int(input("Enter the subject count:"))
        for z in range(c):
            m=int(input("Enter the marks:"))
            c1.append(m)
        print(c1)
        c1.clear()
stud()

Enter the subject count:2
Enter the marks:45
Enter the marks:78
[45, 78]
Enter the subject count:2
Enter the marks:88
Enter the marks:78
[88, 78]

In [16]:
def python():
    for i in range(2):
        print("DS")
        
python()

DS
DS

In [17]:
def xyz(girls):
    for x in girls:
        print(x)
Names=["Nik","Neha","Diksha","Arohi","Ira"]
xyz(Names)

Nik
Neha
Diksha
Arohi
Ira

In [18]:
a=[]
for x in range(2):
    b=int(input("Enter the number:"))
    
    def oddeven(b):
        if b%2==0:
            print("Even")
            a.append(b)
            print(a)
            a.clear()
        else:
            print("Odd")
            a.append(b)
            print(a)
    oddeven(b)

Enter the number:2
Even
[2]
Enter the number:5
Odd
[5]

In [1]:
n=int(input("Enter the number:"))

for x in range(n):
    def reg_book():
        Name=input("Enter the name:")
        MobileNo=int(input("Enter the Mobile No:"))
        City=input("Enter the city name:")
        print("Name:",Name,"____","MobileNo:",MobileNo,"____","City:",City,"______")
        print("___________________________________")
        
    reg_book()

Enter the number:2
Enter the name:Sangeeta
Enter the Mobile No:789654123
Enter the city name:Sanhali
Name: Sangeeta ____ MobileNo: 789654123 ____ City: Sanhali ______
___________________________________
Enter the name:Nita
Enter the Mobile No:5896321477
Enter the city name:Karad
Name: Nita ____ MobileNo: 5896321477 ____ City: Karad ______
___________________________________

In [2]:
def add(a,b):
    c=a+b
    print(c)
    
def sub(a,b):
    d=a-b
    print(d)
    
def mul(a,b):
    e=a*b
    print(e)
    
def div(a,b):
    f=a/b
    print(f)
    
a=int(input("Enter the a value:"))
b=int(input("Enter the b value:"))
add(a,b)
sub(a,b)
mul(a,b)
div(a,b)

Enter the a value:45
Enter the b value:41
86
4
1845
1.0975609756097562

In [3]:
def add(a,b):
    c=a+b
    print(c)
    
def sub(a,b):
    d=a-b
    print(d)
    
def mul(a,b):
    e=a*b
    print(e)
    
def div(a,b):
    f=a/b
    print(f)
    
add(10,20)
sub(41,41)
mul(2,5)
div(4,4)

30
0
10
1.0