# List

In [1]:
a=["pune","Satar","Mumbai","Banglore"]
print(a)

['pune', 'Satar', 'Mumbai', 'Banglore']

In [8]:
a.append("nipani")
print(a)

['pune', 'Satar', 'Mumbai', 'Banglore', 'nipani']

In [9]:
a.insert(0,"Sangali")
print(a)

['Sangali', 'pune', 'Satar', 'Mumbai', 'Banglore', 'nipani']

In [10]:
a.remove("nipani")
print(a)

['Sangali', 'pune', 'Satar', 'Mumbai', 'Banglore']

In [11]:
a.pop()
print(a)

['Sangali', 'pune', 'Satar', 'Mumbai']

In [16]:
a=["pune","Satar","Mumbai","Banglore"]
print(a)

['pune', 'Satar', 'Mumbai', 'Banglore']

In [17]:
a[0]

'pune'

In [18]:
print(a[:2])

['pune', 'Satar']

In [19]:
ab=a[3]
ab

'Banglore'

In [20]:
a[-1]

'Banglore'

In [21]:
a[-3]

'Satar'

In [22]:
a[0:-3]

['pune']

In [23]:
a[0:-2]

['pune', 'Satar']

In [35]:
a=["pune","Satar","Mumbai","Banglore"]
print(a)

['pune', 'Satar', 'Mumbai', 'Banglore']

In [39]:
city=["Nipani","Satar","Balguam","Banglore"]
pas=int(input("Enter the password:"))
if city=="Satar" and pas=="456":
    print("AI")
else:
    print("ML")

Enter the password:456
ML

In [43]:
list1=["mango","banana","graps","cherry","strawberry"]
list2=["pink","red","black","white","yellow"]
list1,list2

(['mango', 'banana', 'graps', 'cherry', 'strawberry'],
 ['pink', 'red', 'black', 'white', 'yellow'])

In [44]:
list1=["mango","banana","graps","cherry","strawberry"]
list2=["pink","red","black","white","yellow"]
list1+list2

['mango',
 'banana',
 'graps',
 'cherry',
 'strawberry',
 'pink',
 'red',
 'black',
 'white',
 'yellow']

In [54]:
list1=["mango","banana","graps","cherry","strawberry"]
list2=["pink","red","black","white","yellow"]
list1.append("watermilon")

In [55]:
list1

['mango', 'banana', 'graps', 'cherry', 'strawberry', 'watermilon']

In [59]:
list1=["mango","banana","graps","cherry","strawberry"]
list2=["pink","red","black","white","yellow"]
list2.insert(1,"blue")
list2

['pink', 'blue', 'red', 'black', 'white', 'yellow']

In [52]:
list2.remove("yellow")
list2

['pink', 'blue', 'red', 'black', 'white']

In [56]:
list1.pop()
list1

['mango', 'banana', 'graps', 'cherry', 'strawberry']

In [57]:
print(len(list1))

5

In [60]:
print(len(list2))

6

In [63]:
list1=["mango","banana","graps","cherry","strawberry"]
for i in list1:
    print(i)

mango
banana
graps
cherry
strawberry

In [70]:
list1=["mango","banana","graps","cherry","strawberry"]
for i in range(len(list1)):
    print(list1[i])

mango
banana
graps
cherry
strawberry

In [72]:
list1=["mango","banana","graps","cherry","strawberry"]
print(list1[:2])

['mango', 'banana']

In [73]:
list1=["mango","banana","graps","cherry","strawberry"]
print(list1[1:2])

['banana']

In [74]:
list1=["mango","banana","graps","cherry","strawberry"]
print(list1[-1])

strawberry

In [78]:
list1=["mango","graps","cherry","strawberry"]
print(list1[1:-3])

[]

In [79]:
list1=["mango","banana","graps","cherry","strawberry"]
print(list1[2:-3])

[]

In [77]:
list1=["mango","banana","graps","cherry","strawberry"]
print(list1[1:-5])

[]

In [80]:
list1=["mango","banana","graps","cherry","strawberry"]
list1.remove("banana")

In [81]:
list1

['mango', 'graps', 'cherry', 'strawberry']

In [82]:
l1=["anusha","renu","aniket","aditi","ashwik"]
l1

['anusha', 'renu', 'aniket', 'aditi', 'ashwik']

In [95]:
l1=["anusha","renu","aniket","aditi","ashwik"]
for i in l1:
    print(i)

anusha
renu
aniket
aditi
ashwik

In [3]:
a=input("Enter the 1st city:")
b=input("Enter the 2nd city:")
c=[a,b]
print(c)
for x in c:
    print(x)
    for y in x:
        print(y)

Enter the 1st city:npn
Enter the 2nd city:gkk
['npn', 'gkk']
npn
n
p
n
gkk
g
k
k

In [5]:
a=input("Enter the 1st city:")
b=input("Enter the 2nd city:")
c=[a,b]
print(c)
for x in c:
    print(x)
    for y in x:
        print(y)

Enter the 1st city:ppp
Enter the 2nd city:lll
['ppp', 'lll']
ppp
p
p
p
lll
l
l
l

In [6]:
a=["pune","Satar","Mumbai","Banglore"]
a

['pune', 'Satar', 'Mumbai', 'Banglore']

In [7]:
a.append("nipani")
a

['pune', 'Satar', 'Mumbai', 'Banglore', 'nipani']

In [5]:
b=[]
a=["pune","mumbai","nashik","delhi"]
a1=a[0]
b1=a1[:-2]
for x in a:
    p1=x+b1
    b.append(p1)
print(b)

['punepu', 'mumbaipu', 'nashikpu', 'delhipu']

In [ ]:
marks=[]
a=["Delhi","Karad","Sangali","Banglore"]
for x in a:
    if x=="Delhi":
        count=int(input("Enter the subject:"))
        for y in range(count):
            m=int(input("Enter marks:"))
            marks.append(m)
        print("My marks:",marks)
        total=sum(marks)
        avg=total/count
        print("my total marks",total)
        print("my total average",avg)

Enter the subject:3
Enter marks:45

In [16]:
b=[]
a=["pune","mumbai","nashik","delhi"]
a1=a[0]
b1=a1[2:4]
for x in a:
    p1=x+b1
    b.append(p1)
print(b)

['punene', 'mumbaine', 'nashikne', 'delhine']

In [1]:
marks=[]
a=["Delhi","Karad","Sangali","Banglore"]
for x in a:
    if x=="Delhi":
        count=int(input("Enter the subject:"))
        for y in range(count):
            m=int(input("Enter marks:"))
            marks.append(m)
        print("My marks:",marks)

Enter the subject:2
Enter marks:45
Enter marks:74
My marks: [45, 74]

# Tuple

In [2]:
a=("Annu","Anvi","Vishwa","Aniket")
print(a)

('Annu', 'Anvi', 'Vishwa', 'Aniket')

In [3]:
a=("Annu","Aniket")
b=("Kolaki","Jotawar")
print(a)
print(b)

('Annu', 'Aniket')
('Kolaki', 'Jotawar')

In [4]:
len(a)

2

In [5]:
a+b

('Annu', 'Aniket', 'Kolaki', 'Jotawar')

In [6]:
a=["Annu","Aniket"]
b=["Mallikarjun"]
c=["Kolaki","Kolaki"]
print(a)
print(b)
print(c)

['Annu', 'Aniket']
['Mallikarjun']
['Kolaki', 'Kolaki']

In [7]:
print(a[0],b[0],c[0])

Annu Mallikarjun Kolaki

In [8]:
print(a[0],c[0])

Annu Kolaki

# Set

In [1]:
set={"Annu","Vishuu"}
set

{'Annu', 'Vishuu'}

In [2]:
set.discard("AnVi")
set

{'Annu', 'Vishuu'}

In [3]:
set.remove("AnVi")
set

KeyError: 'AnVi'

In [4]:
set.remove("Annu")
set

{'Vishuu'}