# for loop

In [2]:
for x in range(5):
    print(x)

0
1
2
3
4

In [5]:
for s in "abcde":
    print(s)

a
b
c
d
e

In [8]:
s="Annu"
for a in s:
    print(s)

Annu
Annu
Annu
Annu

In [14]:
s="Annu"
for a in s:
    print(a)

A
n
n
u

In [2]:
a=int(input("Enter the values"))
b=int(input("Enter the values"))
for x in range(3):
    print("Addition:",a+b)
    print(type(a))
    print(type(b))
    print("....................")

Enter the values2
Enter the values4
Addition: 6
<class 'int'>
<class 'int'>
....................
Addition: 6
<class 'int'>
<class 'int'>
....................
Addition: 6
<class 'int'>
<class 'int'>
....................

In [3]:
a="racksonsit"
for z in a:
    print(z)
    a=10
    b=20
    print("Addition:",a+b)

r
Addition: 30
a
Addition: 30
c
Addition: 30
k
Addition: 30
s
Addition: 30
o
Addition: 30
n
Addition: 30
s
Addition: 30
i
Addition: 30
t
Addition: 30

In [12]:
n=int(input("Enter the number:"))
for x in range(n,n*11,n):
    print(x)

Enter the number:25
25
50
75
100
125
150
175
200
225
250

In [20]:
for x in range(5):
    name=input("Enter the name:")
    a=name[2:3]
    print(a+name)

Enter the name:Anvi
vAnvi
Enter the name:sadhana
dsadhana
Enter the name:Sachin
cSachin
Enter the name:Sandeep
nSandeep
Enter the name:Ashwik
hAshwik

# Nested for loop

In [8]:
for x in range(10):
    for y in range(5):
        print(y)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [14]:
names=["Anusha","Asha","Aniket","Sneha","Vishwa"]
marks=[]
for x in names:
    count=int(input("Enter the subjects:"))
    for y in range(count):
        m=int(input("Enter the marks:"))
        marks.append(m)
    print("My marks:",marks)
    total=sum(marks)
    avg=total/count
    print("My total marks:",total)
    marks.append(total)
    print("My average is:",avg)
    marks.append(avg)
    print(marks)
    marks.clear()
    print("....................")

Enter the subjects:2
Enter the marks:45
Enter the marks:54
My marks: [45, 54]
My total marks: 99
My average is: 49.5
[45, 54, 99, 49.5]
....................
Enter the subjects:2
Enter the marks:44
Enter the marks:74
My marks: [44, 74]
My total marks: 118
My average is: 59.0
[44, 74, 118, 59.0]
....................
Enter the subjects:2
Enter the marks:78
Enter the marks:98
My marks: [78, 98]
My total marks: 176
My average is: 88.0
[78, 98, 176, 88.0]
....................
Enter the subjects:2
Enter the marks:77
Enter the marks:87
My marks: [77, 87]
My total marks: 164
My average is: 82.0
[77, 87, 164, 82.0]
....................
Enter the subjects:2
Enter the marks:44
Enter the marks:55
My marks: [44, 55]
My total marks: 99
My average is: 49.5
[44, 55, 99, 49.5]
....................

In [18]:
city=["Pune","Mumbai"]
for x in city:
    for y in x:
        print(x)

Pune
Pune
Pune
Pune
Mumbai
Mumbai
Mumbai
Mumbai
Mumbai
Mumbai

In [19]:
city=["Pune","Mumbai"]
for x in city:
    for y in x:
        print(y)

P
u
n
e
M
u
m
b
a
i

# If else condition

In [12]:
x=0
if (x%2)==0:
    print("Even")
else:
    print("Odd")

Even

In [10]:
a=int(input("Enter the a value:"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter the a value:2
Even

In [9]:
a=int(input("Enter the a value:"))
b=int(input("Enter the b value:"))
if a==b:
    print("Thses both are equal")
else:
    print("Thses both are not equal")

Enter the a value:10
Enter the b value:10
Thses both are equal

In [10]:
y=1
if y%3==0:
    print("Even")
else:
    print("Odd")

Odd

In [43]:
a=2
b=5
if a==2 and b==4:
    print("Cat")
else:
    print("Dog")

Dog

In [45]:
a=2
b=5
if a==2 or b==5:
    print("Cat")
else:
    print("Dog")

Cat

In [4]:
a=int(input("Enter 1st number"))
b=int(input("Enter 2nd number"))
if a%b==0:
    print("Divisible")
else:
    print("Not divisible")

Enter 1st number10
Enter 2nd number7
Not divisible

In [4]:
n=int(input("Enter the age:"))
if n>=18:
    print("Eligble to vote")
else:
    print("Not eligible to vote")

Enter the age:19
Eligble to vote

In [5]:
a=int(input("enter the number"))
if a==10:
    print("Nipani")
elif a==20:
    print("Pune")
elif a==30:
    print("Belgavi")
else:
    print("This is not city")

enter the number20
Pune

In [11]:
marks=int(input("Enter the marks:"))
if marks>=85 and marks<=99:
    print("Distinction")
elif marks>=70 and marks<=85:
    print("First class with Distinction")
elif marks>=60 and marks<=70:
    print("First class")
elif marks>=50 and marks<=60:
    print("Second class")
elif marks>=40 and marks<=50:
    print("Third class")
elif marks>=35 and marks<=40:
    print("Just pass")
else:
    print("Fail")

Enter the marks:54
Second class

# In for loop if else condition

In [17]:
n=int(input("Enter the size:"))
a=int(input("Enter the number:"))
for x in range(n):
    if a%2==0:
        print("Even")
    else:
        print("odd")

Enter the size:9
Enter the number:5
odd
odd
odd
odd
odd
odd
odd
odd
odd

In [6]:
for a in range(3):
    if a==2:
        print("Artificial Intelligence")
    else:
        print("Machine Learning")
    print(".....................")

Machine Learning
.....................
Machine Learning
.....................
Artificial Intelligence
.....................

In [7]:
for a in range(3):
    if a==2:
        print("Artificial Intelligence")
       
    else:
        print("Machine Learning")
    print(".....................")
    break

Machine Learning
.....................

In [15]:
city=["Belguam","Nipani","Gokak","Banglore","Kolhapur"]
for a in city:
    ab=len(a)
    if ab%2==0:
        print("city is even:",a)
    else:
        print("city is odd:",a)

city is odd: Belguam
city is even: Nipani
city is odd: Gokak
city is even: Banglore
city is even: Kolhapur

In [16]:
city=["Pune","Mumbai","Karad","Sangali","Sankeshwar"]
girls=[]
boys=[]
for x in city:
    if x=="Pune":
        for y in range(3):
            g=input("Enter the girls name:")
            girls.append(g)
            ab=len(g)
            print(ab)
            
    elif x=="Mumbai":
        for y in range(5):
            b=input("Enter the boys name:")
            boys.append(b)
            ab=len(b)
            print(ab)

Enter the girls name:Anusha
6
Enter the girls name:Neha
4
Enter the girls name:Swati
5
Enter the boys name:Aniket
6
Enter the boys name:Vishwa
6
Enter the boys name:Mallikarjun
11
Enter the boys name:Sanjay
6
Enter the boys name:Iliyas
6

In [17]:
city=["Athani","Pune","Mumabai","Ankali"]
marks=[]
for x in city:
    if x=="Pune":
        for x in range(3):
            name=input("Enter the girls name:")
            m=len(name)
            print("Lenght count:",m)
            for x in range(m):
                p=int(input("Enter the marks:"))
                marks.append(p)
                
    elif x=="Mumbai":
        for x in range(5):
            name1=input("Enter the girls name:")
            n=len(name1)
            print("Lenght count:",n)
            for x in range(n):
                p1=int(input("Enter the marks:"))
                marks.append(p1)
    else:
        print("Condtion is wrong")

Condtion is wrong
Enter the girls name:Asha
Lenght count: 4
Enter the marks:87
Enter the marks:77
Enter the marks:87
Enter the marks:98
Enter the girls name:Ayisha
Lenght count: 6
Enter the marks:77
Enter the marks:74
Enter the marks:87
Enter the marks:78
Enter the marks:88
Enter the marks:98
Enter the girls name:Anjali
Lenght count: 6
Enter the marks:99
Enter the marks:78
Enter the marks:41
Enter the marks:54
Enter the marks:65
Enter the marks:77
Condtion is wrong
Condtion is wrong

In [24]:
p2=[]
p3=[]
s1=[]
s2=[]

for x in range(5):
    name=input("Enter the names:")
    a=len(name)
    
    if a%2==0:
        for x in range(5):
            p1=int(input("Enter the marks:"))
            p2.append(p1)
        k=sum(p2)
        s1.append(k)
        if k%2==0:
            print("Total is even:",k)
        else:
            print("Total is odd:",k)
        p2.clear()
        
    elif a%2!=0:
        for x in range(3):
            p1=int(input("Enter the marks:"))
            p3.append(p1)
        k1=sum(p3)
        s2.append(k1)
        if k1%2==0:
            print("Total is even:",k1)
        else:
            print("Total is odd:",k1)
        s.clear()

Enter the names:Anusha
Enter the marks:47
Enter the marks:74
Enter the marks:77
Enter the marks:87
Enter the marks:88
Total is odd: 373
Enter the names:Aniket
Enter the marks:74
Enter the marks:87
Enter the marks:74
Enter the marks:77
Enter the marks:77
Total is odd: 389
Enter the names:Deepak
Enter the marks:74
Enter the marks:54
Enter the marks:65
Enter the marks:89
Enter the marks:56
Total is even: 338
Enter the names:Hema
Enter the marks:63
Enter the marks:69
Enter the marks:96
Enter the marks:85
Enter the marks:58
Total is odd: 371
Enter the names:Fharas
Enter the marks:88
Enter the marks:56
Enter the marks:55
Enter the marks:65
Enter the marks:22
Total is even: 286

In [25]:
a=[]
for x in range(5):
    name=input("Enter the name:")
    salary=int(input("Enter the salary:"))
    a.append(name)
    
    if 1000<salary<=3000:
        print("1st Class with 12% GST")
        v=salary*(12/100)
        t=salary-v
        print("Tax:",v)
        print("Total salary is :",t)
        
    elif 3000<salary<=7000:
        print("2nd class with GST 15%")
        v1=salary*(15/100)
        t1=salary-v1
        print("Tax:",v1)
        print("Total salary is :",t1)
    
    elif 7000<salary<=10000:
        print("3rd class with GST 18%")
        v2=salary*(18/100)
        t2=salary-v2
        print("Tax:",v2)
        print("Total salary is :",t2)
        
    else:
        print("He is not employee....")

Enter the name:Anjuu
Enter the salary:2000
1st Class with 12% GST
Tax: 240.0
Total salary is : 1760.0
Enter the name:Ganga
Enter the salary:8000
3rd class with GST 18%
Tax: 1440.0
Total salary is : 6560.0
Enter the name:Asha
Enter the salary:2400
1st Class with 12% GST
Tax: 288.0
Total salary is : 2112.0
Enter the name:Ayisha
Enter the salary:2300
1st Class with 12% GST
Tax: 276.0
Total salary is : 2024.0
Enter the name:Renu
Enter the salary:10000
3rd class with GST 18%
Tax: 1800.0
Total salary is : 8200.0

In [26]:
stud=["Annu","Kajal","Aniket","Soumya","Asha"]
marks=[]
t1=[]
t2=[]
t3=[]
for x in stud:
    count=int(input("Enter the subjects:"))
    for y in range(count):
        m=int(input("Enter the marks:"))
        marks.append(m)
    total=sum(marks)
    avg=total/count
    print("My total marks:",total)
    print("My average is:",avg)
    print(marks)
    if avg<=50:
        t1=0.02+avg
        marks.append(t1)
        print(t1)
        marks.clear()
    elif avg>=50 and avg<=75:
        t2=0.04+avg
        marks.append(t2)
        print(t2)
        marks.clear()
    elif avg>=75:
        t3=0.07+avg
        marks.append(t3)
        print(t3)
        marks.clear()
    else:
        print("Not student")

Enter the subjects:3
Enter the marks:78
Enter the marks:58
Enter the marks:74
My total marks: 210
My average is: 70.0
[78, 58, 74]
70.04
Enter the subjects:2
Enter the marks:45
Enter the marks:47
My total marks: 92
My average is: 46.0
[45, 47]
46.02
Enter the subjects:2
Enter the marks:44
Enter the marks:54
My total marks: 98
My average is: 49.0
[44, 54]
49.02
Enter the subjects:2
Enter the marks:41
Enter the marks:54
My total marks: 95
My average is: 47.5
[41, 54]
47.52
Enter the subjects:2
Enter the marks:44
Enter the marks:54
My total marks: 98
My average is: 49.0
[44, 54]
49.02

In [27]:
city=["Pune"]
marks1=[]
marks2=[]
t1=[]
t2=[]
avgg=[]
for x in city:
    if x=="Pune":
        for z in "ABC":
            c1=input("Enter the Females employees")
            c2=input("Enter the Males employees")
        for y in range(3):
            m1=int(input("Enter the 10th marks:"))
            m2=int(input("Enter the 12th marks:"))
            marks1.append(m1)
            marks2.append(m2)
            print("My 10th marks is:",m1)
            print("My 12th marks is:",m2)
    t1=sum(marks1)
    t2=sum(marks2)
    avg1=t1/3
    avg2=t2/3
    print("My 10th total marks:",t1)
    marks1.append(t1)
    print("My 10th average is:",avg1)
    avgg.append(avg1)
    print("My 12th total marks:",t2)
    marks2.append(t2)
    print("My 12th average is:",avg2)
    avgg.append(avg2)
    if avg1<=50 and avg2<=50:
        print("Payment is 10,000")
    elif avg1>=50 and avg2<=75:
        print("Payment is 12000")
    elif avg1>=75 and avg2<=100:
        print("Payment is 18000")
    else:
        print("He or She is not employee")    
    print(marks1)

Enter the Females employeesAnnu
Enter the Males employeesSatish
Enter the Females employeesdipika
Enter the Males employeesShubham
Enter the Females employeesSoumya
Enter the Males employeesShiva
Enter the 10th marks:78
Enter the 12th marks:98
My 10th marks is: 78
My 12th marks is: 98
Enter the 10th marks:74
Enter the 12th marks:87
My 10th marks is: 74
My 12th marks is: 87
Enter the 10th marks:98
Enter the 12th marks:55
My 10th marks is: 98
My 12th marks is: 55
My 10th total marks: 250
My 10th average is: 83.33333333333333
My 12th total marks: 240
My 12th average is: 80.0
Payment is 18000
[78, 74, 98, 250]

In [28]:
city=["Pune"]
marks1=[]
marks2=[]
t1=[]
t2=[]
avgg=[]
sal=[]
for x in city:
    if x=="Pune":
        for z in "ABC":
            c1=input("Enter the Females employees")
        for y in range(3):
            m1=int(input("Enter the 10th marks:"))
            m2=int(input("Enter the 12th marks:"))
            marks1.append(m1)
            marks2.append(m2)
            print("My 10th marks is:",m1)
            print("My 12th marks is:",m2)
    t1=sum(marks1)
    t2=sum(marks2)
    avg1=t1/3
    avg2=t2/3
    print("My 10th total marks:",t1)
    marks1.append(t1)
    print("My 10th average is:",avg1)
    avgg.append(avg1)
    print("My 12th total marks:",t2)
    marks2.append(t2)
    print("My 12th average is:",avg2)
    avgg.append(avg2)
    if avg1<=50 and avg2<=50:
        print("Payment is 10,000")
        sal=0.05+10000
        print(sal)
    elif avg1>=50 and avg2<=75:
        print("Payment is 12000")
        sal=0.05+12000
        print(sal)
    elif avg1>=75 and avg2<=100:
        print("Payment is 18000")
        sal=0.05+18000
        print(sal)
    else:
        print("He or She is not employee")    
    print(marks1)

Enter the Females employeesShardha
Enter the Females employeesShravani
Enter the Females employeesSoumya
Enter the 10th marks:45
Enter the 12th marks:54
My 10th marks is: 45
My 12th marks is: 54
Enter the 10th marks:99
Enter the 12th marks:65
My 10th marks is: 99
My 12th marks is: 65
Enter the 10th marks:58
Enter the 12th marks:78
My 10th marks is: 58
My 12th marks is: 78
My 10th total marks: 202
My 10th average is: 67.33333333333333
My 12th total marks: 197
My 12th average is: 65.66666666666667
Payment is 12000
12000.05
[45, 99, 58, 202]